
{% extends 'layout.html' %}

{% block pageTitle %}
    How to take the combined pill
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/conditions/",
      text: "Health A to Z"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    },
    {
      href: "../../methods-of-contraception",
      text: "Methods of contraception"
    }
  ],
      href: "../combined-pill",
      text: "Combined pill"
})
}}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h1>
              <span role="text">
                How to take the combined pill
            </h1>
          </div>
        </div>



        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">


                    <section>
                      <h2>Taking different types of combined pill</h2>
                      <p>There are 2 main types of combined pill (also called the pill).</p>
                    
                      <h3>Everyday (ED) pill </h3>
                      <p>You take the everyday (ED) pill every day. </p>
                      <p>It comes with 7 dummy pills which do not contain any hormones. These are a different colour to the active pills. </p>

                      <h3>21-day pill </h3>
                      <p>You take this for 21 days then have a break for 7 days.</p>
                      <p>Sometimes a doctor may recommend taking the 21-day pill with a shorter break. This is called a tailored regime.</p>
                      <div class="nhsuk-inset-text">
                        <span class="nhsuk-u-visually-hidden">Information: </span>
                        <p>For more information, check the leaflet that comes with your pills, or speak to a doctor, nurse or pharmacist.</p>
                      </div>
                    </section>

                    <section>
                      <h2>Starting the combined pill</h2>
                      <p>If you're taking the pill for the first time, you can normally start taking it at any point in your menstrual cycle. The advice may be different if you have a short menstrual cycle (less than 24 days).</p>
                      <p>Speak to a doctor or nurse if you're not sure when to start taking the pill.</p>

                      <h3>Starting on day 1 to 5 of your cycle</h3>
                      <p>If you start taking the pill in the first 5 days of your cycle (day 1 is the first day of your period), you will be protected from pregnancy straight away.</p>
                      <p>You will not need to use another type of contraception.</p>

                      <h3>Starting after day 5 of your cycle</h3>
                      <p>If you start taking the pill after day 5 of your cycle (more than 5 days after the start of your period), you will not be protected from pregnancy straight away.</p>
                      <p>It is possible to get pregnant from day 5 of your cycle, so you will need to use another type of contraception, such as condoms. Keep using them until you have taken the pill for 7 days.</p>


                    <div class="nhsuk-warning-callout">
                      <h3 class="nhsuk-warning-callout__label">
                        
                          <span role="text">
                            <span class="nhsuk-u-visually-hidden">Important: </span>
                            Important
                          </span>
                      
                      </h3>
                        <p>If there's a risk you could already be pregnant when you start taking the pill, take a pregnancy test 3 weeks after the last time you had unprotected sex.</p>
                    </div>

                    <br>
                    
                    <section>
                      <h2 id="effectiveness">How well does the combined pill work?</h2>
  
                      <p data-block-key="ddsa1">You need to take the combined pill at the same time every day for it to work properly.</p>
                      <p data-block-key="9nl72">When used correctly, the pill is more than 99% effective. This means it stops 99 in 100 women getting pregnant each year.</p>
                      <p data-block-key="fa4q7">If not used correctly, it is 91% effective and stops 91 in 100 women getting pregnant. This is because mistakes can happen in real life. You might forget to take your pills, or take them at the wrong time of day.</p>
                    </section>

                    <br>
                    <section>
                      <h2>How to change to a different pill</h2>
                      <p data-block-key="mw88k">If you want advice about changing your contraceptive pill, talk to a GP, contraceptive nurse (sometimes called a family planning nurse), or go to a sexual health clinic.</p>
                      <p data-block-key="7snnt">When changing to a new pill, you will usually need to start the new pill immediately, or wait until the day after you take the last of your old pills.</p>
                      <p data-block-key="70ceo">The doctor or nurse may tell you to use another type of contraception such as condoms during the changeover. The new pill may take a short time to start working.</p>
                    </section>

                </div>
            </div>
        </article>

        <aside class="nhsuk-grid-column">
          <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
            <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
              More in <a href="../combined-pill">Combined pill</a>
            </h2>

            <nav role="navigation" class="beta-nhsuk-navigation-sideways">
              <ul class="beta-nhsuk-navigation-sideways__list">
                
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-is-the-combined-pill">
                    What is the combined pill?
                  </a>
                </li>
                  
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="where-to-get-the-combined-pill">
                    Where to get it
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="who-can-take-the-combined-pill">
                    Who can take it
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                  How to take it
                </li>


                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="side-effects-of-the-combined-pill">
                    Side effects of the combined pill
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="taking-the-combined-pill-with-other-medicines">
                    Taking it with other medicines
                  </a>
                </li>
                
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="taking-the-combined-pill-for-acne-or-heavy-periods">
                    Taking it for acne or heavy periods
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-to-do-if-you-miss-or-lose-a-pill">
                    Missed or lost pills
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-to-do-if-you-take-an-extra-combined-pill">
                    If you take an extra pill
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-to-do-if-youre-sick-or-have-diarrhoea-when-taking-the-combined-pill">
                    If you're sick or have diarrhoea
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="taking-the-combined-pill-after-having-a-baby">
                    Taking it after having a baby
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="taking-the-combined-pill-after-a-miscarriage-or-abortion">
                    Taking it after a miscarriage or abortion
                  </a>
                </li>
                
              </ul>
            </nav>
          </div>
        </aside>
        

        <div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
            Page last reviewed: 12 August 2022<br>
            Next review due: 12 August 2025
          </p>
        </div>

    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer">

        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Home</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Health A to Z</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Live Well</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Mental health</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Care and support</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Pregnancy</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS services</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Coronavirus (COVID-19)</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS App</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Find my NHS number</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Your health records</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About the NHS</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Healthcare abroad</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Contact us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Other NHS websites</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Profile editor login</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list nhsuk-footer__meta">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Our policies</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
          </li>
        </ul>
      </div>
      <div>
        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      </div>

    </div>
  </div>
</footer>
{% endblock %}

