

{% extends 'layout.html' %}

{% block pageTitle %}
  What to do if you miss or lose a pill
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/conditions/",
      text: "Health A to Z"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    },
    {
      href: "../../methods-of-contraception",
      text: "Methods of contraception"
    }
  ],
      href: "../combined-pill",
      text: "Combined pill"
})
}}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h1>
              <span role="text">
                What to do if you miss or lose a pill
            </h1>
          </div>
        </div>



        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">

                  <section>
                    <h2>What to do if you miss 1 pill</h2>
                    <p>If you have missed 1 pill anywhere in the pack, or you started a new pack 1 day late, you will still be protected from getting pregnant.</p>
                    <p>You should:</p>
                    <ul>
                      <li>take the last pill you missed now, even if this means taking 2 pills in 1 day</li>
                      <li>carry on taking the rest of the pack as normal</li>
                      <li>take your 7-day pill-free break as normal, or if you're on an everyday (ED) pill, take your dummy (inactive) pills</li>
                    </ul>
                    <p>You do not need to use another type of contraception.</p>
                    <h3>Eloine, Qlaira and Zoely</h3>
                    <p>The advice is different if you take Eloine, Qlaira or Zoely.</p>
                    <p>If you take one of these types of combined pill, read the patient information leaflet that comes with it. You can also find this information on the electronic Medicines Compendium (eMC) website:</p>
                    <ul>
                      <li><a href="https://www.medicines.org.uk/emc/product/6967/pil">Eloine - eMC</a></li>
                      <li><a href="https://www.medicines.org.uk/emc/product/6536/pil">Qlaira - eMC</a></li>
                      <li><a href="https://www.medicines.org.uk/emc/product/3038/pil">Zoely - eMC</a></li>
                    </ul>
                  </section>

                  <br>
                  <section>
                    <h2>What to do if you miss 2 or more pills</h2>
                    <p>If you have missed 2 or more pills anywhere in the pack or started a new pack 2 or more days late (48 hours or more), there's a risk you could get pregnant.</p>
                    <p>You should:</p>
                    <ul>
                      <li>take the last pill you missed now, even if this means taking 2 pills in 1 day</li>
                      <li>leave any earlier missed pills</li>
                      <li>carry on taking the rest of the pack as normal</li>
                      <li>use extra contraception, such as <a href="https://www.nhs.uk/conditions/contraception/male-condoms/">condoms</a>, for the next 7 days</li>
                    </ul>
                    <p>Depending on how many pills were left in the pack after the last missed pill, there is different advice on what to do when you finish the pack.</p>
                    <h3>If there are 7 or more pills left in the pack</h3>
                    <p>If there are 7 or more pills left in the pack after your last missed pill, finish the pack and:</p>
                    <ul>
                      <li>take your 7-day break as normal – 21-day pill</li>
                      <li>take your dummy pills before you start your next pack – everyday (ED) pill</li>
                    </ul>
                      <h3>If there are less than 7 pills left in the pack</h3>
                      <p>If there are less than 7 pills left in the pack after your last missed pill, finish the pack and start a new pack the next day.</p>
                      <p>This means that you:</p>
                      <ul>
                        <li>do not have your pill-free break – 21-day pill</li>
                        <li>do not take your dummy pills – everyday (ED) pill</li>
                      </ul>
                      <p>If you miss 2 or more pills in the first week of a pack, you may need to get <a href="https://www.nhs.uk/conditions/contraception/emergency-contraception/">emergency contraception</a> if you've had unprotected sex in the last 7 days.</p>
                      <h3>Eloine, Qlaira and Zoely</h3>
                      <p>The advice is different if you take Eloine, Qlaira or Zoely.</p>
                      <p>If you take one of these types of combined pill, read the patient information leaflet that comes with it. You can also find this information on the electronic Medicines Compendium (eMC) website:</p>
                    <ul>
                      <li><a href="https://www.medicines.org.uk/emc/product/6967/pil">Eloine - eMC</a></li>
                      <li><a href="https://www.medicines.org.uk/emc/product/6536/pil">Qlaira - eMC</a></li>
                      <li><a href="https://www.medicines.org.uk/emc/product/3038/pil">Zoely - eMC</a></li>
                    </ul>
                  </section>

                  <br>
                  <section>
                    <h2>What to do if you lose a pill</h2>
                  
                    <h3>If you take the 21-day pill</h3>
                    <p>If you've lost 1 of your 21-day pills:</p>
                    <ul>
                      <li>take the last pill in the packet instead</li>
                      <li>take the rest of the pills on their correct days</li>
                      <li>you'll reach the end of your packet sooner, but this will not affect your contraception</li>
                      <li>take your 7-day break as usual</li>
                    </ul>
                    
                      <p>This will mean starting your next packet on a different day of the week from usual.</p>
                      <p >Or, to avoid starting your next packet on a different day:</p>
                      <ul>
                        <li>take a pill from another packet to replace the pill that's missing</li>
                        <li>take all the remaining pills as normal on their correct days</li>
                        <li>keep the packet you took the pill from as a spare, in case you lose any more pills</li></ul>
                        <h3>If you take the everyday (ED) pill</h3>
                        <p>You need to know which pills are active and which are the dummy (inactive) pills. They are different colours.</p>
                        <p>If you've lost 1 active pill:</p>
                        <ul>
                          <li>take the last active pill in the packet instead</li>
                          <li>take all the remaining active pills as normal on their correct days</li>
                          <li>you'll reach the inactive pills sooner, but this will not affect your contraception</li>
                        </ul>
                        <p>This will mean starting your next packet on a different day of the week from usual.</p>
                        <p>Or, to avoid starting your next packet on a different day:</p>
                        <ul>
                          <li>take an active pill from another packet to replace the pill that's missing</li>
                          <li>take all the remaining pills as normal on their correct days</li>
                          <li>keep the packet you took the pill from as a spare, in case you lose any more pills</li>
                        </ul>
                        <p>If you've lost 1 dummy (inactive) pill:</p>
                        <ul>
                          <li>do not take a pill to replace it</li>
                          <li>continue taking the remaining inactive pills on their correct days (your contraception will not be affected)</li>
                          <li>you'll start your next packet on the usual day</li>
                        </ul>
                  </section>

                </div>
            </div>
        </article>

        <aside class="nhsuk-grid-column">
          <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
            <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
              More in <a href="../combined-pill">Combined pill</a>
            </h2>

            <nav role="navigation" class="beta-nhsuk-navigation-sideways">
              <ul class="beta-nhsuk-navigation-sideways__list">
                
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-is-the-combined-pill">
                    What is the combined pill?
                  </a>
                </li>
                  
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="where-to-get-the-combined-pill">
                    Where to get it
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="who-can-take-the-combined-pill">
                    Who can take it
                  </a>
                </li>
                
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="how-to-take-the-combined-pill">
                    How to take it
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="side-effects-of-the-combined-pill">
                    Side effects of the combined pill
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="taking-the-combined-pill-with-other-medicines">
                    Taking it with other medicines
                  </a>
                </li>
                
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="taking-the-combined-pill-for-acne-or-heavy-periods">
                    Taking it for acne or heavy periods
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                  Missed or lost pills
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-to-do-if-you-take-an-extra-combined-pill">
                    If you take an extra pill
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-to-do-if-youre-sick-or-have-diarrhoea-when-taking-the-combined-pill">
                    If you're sick or have diarrhoea
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="taking-the-combined-pill-after-having-a-baby">
                    Taking it after having a baby
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="taking-the-combined-pill-after-a-miscarriage-or-abortion">
                    Taking it after a miscarriage or abortion
                  </a>
                </li>


                
              </ul>
            </nav>
          </div>
        </aside>
        

        <div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
            Page last reviewed: 12 August 2022<br>
            Next review due: 12 August 2025
          </p>
        </div>

    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{{
 footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Profile editor login"
      },
      {
        "URL": "#",
        "label": "Site map"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "#",
        "label": "Cookies"
      }
    ]
  })
}}
{% endblock %}

