{% extends 'layout.html' %}

{% block pageTitle %}
  Taking the emergency contraceptive pill with other medicines
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/conditions/",
      text: "Health A to Z"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    },
    {
      href: "../../methods-of-contraception",
      text: "Methods of contraception"
    },
    {
      href: "../emergency-contraception",
      text: "Emergency contraception"
    }
  ],
    href: "../emergency-contraceptive-pill",
    text: "Emergency contraceptive pill"
})
}}
{% endblock %}



{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h1>
              <span role="text">
                Taking the emergency contraceptive pill with other medicines
              </span>
            </h1>
          </div>
        </div>


        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">


                    <section>
                      <p>Some medicines, include herbal remedies, can affect how the combined pill (also called the pill) works and it may not work properly to stop you getting pregnant. </p>
                      <p>You may need to use another type of contraception.</p>
                      <p>Ask a doctor or pharmacist for advice before taking the pill if you take medicine to treat TB (tuberculosis), epilepsy or HIV.</p>
                      <p>You should also ask for advice if you take griseofulvin (an antifungal medicine), or St John's wort (a herbal remedy).</p>
                    </section>


                </div>
            </div>
        </article>


        <aside class="nhsuk-grid-column">
          <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
            <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
              More in the <a href="../emergency-contraceptive-pill/emergency-contraceptive-pill-morning-after-pill">Emergency contraceptive pill (morning after pill)</a>
            </h2>

            <nav role="navigation" class="beta-nhsuk-navigation-sideways">
              <ul class="beta-nhsuk-navigation-sideways__list">
                
                <li class="beta-nhsuk-navigation-sideways__item">
                  What is the emergency contraceptive pill (morning after pill)?
                </li>
                  
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="where-to-get-the-emergency-contraceptive-pill">
                    Where to get it
                  </a>
                </li>
                  
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="who-can-take-the-emergency-contraceptive-pill">
                    Who can take it
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="how-to-take-the-emergency-contraceptive-pill">
                    How to take it
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="side-effects-of-the-emergency-contraceptive-pill">
                    Side effects of the emergency contraceptive pill
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                  <a href="taking-the-emergency-contraceptive-pill-with-other-medicines">
                    Taking it with other medicines
                  </a>
                </li>

              </ul>
            </nav>
          </div>
        </aside>


        <div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
            Page last reviewed: 12 August 2022<br>
            Next review due: 12 August 2025
          </p>
        </div>


    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{{
 footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Profile editor login"
      },
      {
        "URL": "#",
        "label": "Site map"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "#",
        "label": "Cookies"
      }
    ]
  })
}}
{% endblock %}

