// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
  

//@import 'beta';
@import 'components/sideways-navigation';
@import 'components/app-brightcove-video';




// FIX: NHS.uk homepage blue button focus states
.nhsuk-main-wrapper  .app-list-signage li a:focus {
  background: #ffeb3b;
  box-shadow: inset 0 -4px 0 0 #212b32;
  color: #212b32 !important;   //added important to make text black
}

// FIX: NHS.uk footer grey bar
.nhsuk-footer-container {
  border-bottom: 10px solid #4c6272;
}



//My account in header



// FIX: Search icon in header
/* ----------!!!! not working search icon not aligned
.nhsuk-search__submit {
  background-color: #f0f4f5;
  border: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  display: block;
  float: right;
  font-size: inherit;
  height: 40px;
  line-height: inherit;
  outline: none;
  padding-left: 9px;
  padding-top: 5px;
  width: 44px;


  &:hover {
    background-color: #f0f4f5;
    border: 0;
    
    z-index: 1;
  }
}
*/

// FIX: Search icon in header - Change hover to blue
/* -----------!!!! Not working - icon background colour not changing from green to blue
.nhsuk-search__submit:hover {
  background-color: #002f5c;
  cursor: pointer;
}
*/ 




//missing code compared to live
@media (min-width: 40.0625em) {
  .nhsuk-search__input {
      padding: 0 12px;
  }
}

