{% extends 'layout.html' %}

{% block pageTitle %}
  Female condoms
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/conditions/",
      text: "Health A to Z"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    },
    {
      href: "../../methods-of-contraception",
      text: "Methods of contraception"
    }
  ],
      href: "../condoms",
      text: "Condoms"
})
}}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <h1><span role="text">Female condoms</span></h1>
          </div>
        </div>



        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">


                    <section>
                        <p>Female condoms are made from soft, thin synthetic latex or latex. They're worn inside the vagina to prevent semen getting to the womb.</p>

                        <section>
                          <figure class="nhsuk-image">
                            <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/S_0119_Femidom_C0330411_landscape.width-320.jpg" sizes="
                                (min-width: 1020px) 320px
                                (min-width: 768px) 50vw
                                100vw
                              " srcset="
                                https://assets.nhs.uk/nhsuk-cms/images/S_0119_Femidom_C0330411_landscape.width-320.jpg 320w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0119_Femidom_C0330411_landscape.width-510.jpg 510w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0119_Femidom_C0330411_landscape.width-640.jpg 640w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0119_Femidom_C0330411_landscape.width-767.jpg 767w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0119_Femidom_C0330411_landscape.width-1019.jpg 1019w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0119_Femidom_C0330411_landscape.width-1125.jpg 1125w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0119_Femidom_C0330411_landscape.width-1534.jpg 1534w,
                              " alt="An unwrapped female condom held between 2 hands">
                                                        
                            <div class="nhsuk-u-visually-hidden" aria-hidden="true">
                              Credit: 
                            </div>
                            
                          </figure>
                     </section>

                    <section>
                        <h2>At a glance: facts about the female condom</h2>
                        <ul>
                          <li>If used correctly, female condoms are 95% effective.</li>
                          <li>They protect against pregnancy and <a href="">sexually transmitted infections (STIs)</a>.</li>
                          <li>A female condom needs to be placed inside the vagina before there's any contact with the penis.</li>
                          <li>Always buy condoms that have the European CE mark or the UKCA mark on the packet. This means they have been tested to high safety standards.</li>
                          <li>A female condom can get pushed inside the vagina during sex, but it's easy to remove them yourself if this happens.</li>
                          <li>Female condoms may not be suitable for women who are not comfortable touching their genital area.</li>
                          <li>Female condoms should not be reused. Open a new one each time you have sex.</li>
                          <li>Condoms have a use-by date on the packaging. Do not use out-of-date condoms.</li>
                      </ul>
                    </section>

                  <section>
                      <h2>How female condoms work</h2>
                      <p>Female condoms are a barrier method of contraception worn inside the vagina. They prevent pregnancy by stopping sperm meeting an egg.</p>
                      <p>A female condom can be put into the vagina before sex, but make sure the penis does not come into contact with the vagina before the condom has been put in.</p>
                      <p>Semen can still come out of the penis even before a man has had an orgasm (fully ejaculated).</p>
                      <p>When used correctly, condoms are the only method of contraception that protects against both pregnancy and STIs.</p>
                      <h3>How to use a female condom</h3>
                      <ol>
                        <li>Open the packet and remove the female condom, taking care not to tear it. Do not open the packet with your teeth.</li>
                        <li>Squeeze the smaller ring at the closed end of the condom and put it into the vagina.</li>
                        <li>Make sure the large ring at the open end of the condom covers the area around the opening of the vagina.</li>
                        <li>Make sure the penis goes in the female condom, not between the condom and the side of the vagina.</li>
                        <li>After sex, remove the female condom immediately by gently pulling it out. You can twist the large ring to prevent semen leaking out.</li>
                        <li>Throw away the condom in a bin, not the toilet.</li>
                      </ol>
                        <h3>Using lubricant</h3>
                        <p>Female condoms come pre-lubricated to make them easier to use, but you may also like to use additional lube.</p>
                        <p>Check the packet to find out which lubricants are suitable.</p>
                  </section>
     
                  
                  <section>
                      <h2>Who can use female condoms?</h2>
                      <p>Most people can safely use female condoms. You can also use them immediately after having a baby, miscarriage or abortion.</p>
                      <p>But they may not be suitable for women who do not feel comfortable touching their genital area.</p>
                  </section>
                  
                  
                  <section>
                      <h2>Advantages and disadvantages of female condoms</h2>
                      <p>Advantages:</p>
                      <ul>
                        <li>Female condoms help to protect both partners from STIs, including <a href="/conditions/hiv-and-aids/">HIV</a>.</li>
                        <li>When used correctly, they're a reliable method of preventing pregnancy.</li>
                        <li>It's a form of contraception you only need to use when you have sex.</li>
                        <li>There are no serious side effects.</li>
                      </ul>
                      <p>Disadvantages:</p>
                      <ul>
                        <li>Some couples find that putting in a condom interrupts sex. To get around this, insert it in advance or try to make doing so a part of foreplay.</li>
                        <li>Female condoms are very strong, but they may split or tear if not used properly.</li>
                        <li>They're not as widely available as male condoms and can be more expensive.</li></ul>
                  </section>
                  

                  <section>
                      <h2>Can anything make female condoms less effective?</h2>
                      <p>Sperm can sometimes get into the vagina during sex, even when using a female condom.</p>
                      <p>This may happen if:</p>
                      <ul>
                        <li>the penis touches the area around the vagina before a female condom is put in</li>
                        <li>the female condom gets pushed too far into the vagina</li>
                        <li>the penis accidentally enters between the side of the vagina and the condom</li>
                        <li>the condom gets damaged by sharp fingernails or jewellery</li>
                      </ul>
                      <p>If you think sperm has got into your vagina, you may need <a href="/conditions/contraception/emergency-contraception/">emergency contraception</a>. You can use emergency contraception up to 5 days after unprotected sex.</p>
                      <p>You should also consider having an STI test. This can be done at a:</p>
                       <ul>
                        <li>sexual health or genitourinary (GUM) clinic</li>
                        <li>contraception clinic</li>
                        <li>young people's clinic</li>
                      </ul>
                      <p><a href="https://www.nhs.uk/service-search/find-a-sexual-health-clinic/">Find a sexual health clinic</a></p>
                  </section>
                  

                  <section>
                      <h2>Where to get female condoms</h2>
                      <p>You can get female condoms free, even if you're under 16, from:</p>
                      <ul>
                        <li>most contraception clinics</li>
                        <li>most sexual health or genitourinary medicine (GUM) clinics</li>
                        <li>some GP surgeries</li>
                        <li>some young people's services</li>
                      </ul>
                      <p><a href="/Service-Search/Sexual-health-services/LocationSearch/1847">Find your nearest sexual health service</a></p>
                      <p>Female condoms are not available at every contraception and sexual health clinic, so you may need to check first.</p>
                      <p>You can also buy female condoms from:</p>
                      <ul>
                        <li>pharmacies</li>
                        <li>supermarkets</li>
                        <li>websites</li>
                      </ul>
                      <p>Make sure any female condoms you buy carry the European CE mark or the UKCA mark on the packet. This means they have been tested to the required safety standards.</p>
                  </section>
                  

                  <section>
                      <h2>If you're under 16 years old</h2>
                      <p>Contraception services are free and confidential, including for people under the age of 16.</p>
                      <p>If you want contraception and are under 16, the doctor, nurse or pharmacist will not tell your parents (or carer) as long as they believe you fully understand your decisions and the information you have been given.</p>
                      <p>Doctors and nurses work under strict guidelines when dealing with people under 16.</p>
                      <p >They'll encourage you to consider telling your parents, but they will not make you.</p>
                      <p>The only time a professional might want to tell someone else is if they believe you're at risk of harm, such as abuse.</p>
                      <p>In these circumstances, the risk would need to be serious and they'd usually discuss it with you first.</p>
                  </section>
                  
                    
                  
                    <div>
                      <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
                          Page last reviewed: 16 April 2021
                          <br>
                          Next review due: 16 April 2024
                      </p>
                    </div>
                  
                  
                </div>
            </div>
        </article>

        <aside class="nhsuk-grid-column">
          <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
            <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
              More in <a href="../condoms">Condoms</a>
            </h2>

            <nav role="navigation" class="beta-nhsuk-navigation-sideways">
              <ul class="beta-nhsuk-navigation-sideways__list">
                
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="male-condoms">
                    Male condoms
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                  Female condoms
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="condom-tips">
                    Condom tips
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="how-do-i-use-a-condom">
                    How do I use a condom?
                  </a>
                </li>

              </ul>
            </nav>
          </div>
        </aside>
        

        <div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
            Page last reviewed: 12 August 2022<br>
            Next review due: 12 August 2025
          </p>
        </div>


    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{{
 footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Profile editor login"
      },
      {
        "URL": "#",
        "label": "Site map"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "#",
        "label": "Cookies"
      }
    ]
  })
}}
{% endblock %}

