{% extends 'layout.html' %}

{% block pageTitle %}
  How do I use a condom?
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/conditions/",
      text: "Health A to Z"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    },
    {
      href: "../../methods-of-contraception",
      text: "Methods of contraception"
    }
  ],
      href: "../condoms",
      text: "Condoms"
})
}}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <h1><span role="text">How do I use a condom?</h1>
          </div>
        </div>



        <article>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">

        <section>
            <p data-block-key="9p5e7">Condoms are the best way to protect yourself against <a href="/conditions/sexually-transmitted-infections-stis/">sexually transmitted infections (STIs)</a> and unwanted pregnancy.</p>
            <p data-block-key="67aoe">Condoms are a barrier contraceptive made from latex rubber, a synthetic rubber called polyisoprene, a very thin plastic called polyurethane, or a synthetic material called nitrile.</p>
            <p data-block-key="8zsrz">Condoms are available free from:</p>
            <ul>
              <li data-block-key="qyeuf">contraception clinics</li>
              <li data-block-key="rf2zo">sexual health or genitourinary medicine (GUM) clinics</li>
              <li data-block-key="t3q0b">some GP surgeries</li>
              <li data-block-key="8kun6">some charities and young people's services</li>
            </ul>
              <p data-block-key="df6vq">You can also buy condoms from:</p>
              <ul>
                <li data-block-key="3fb88">pharmacies</li>
                <li data-block-key="rms0f">supermarkets</li>
                <li data-block-key="a112u">websites</li>
                <li data-block-key="kui7n">mail-order catalogues</li>
                <li data-block-key="1enhb">vending machines in some public toilets</li>
                <li data-block-key="rp532">some petrol stations</li>
              </ul>
              <p data-block-key="z8xt8">Always buy condoms that have the European CE mark or the UKCA mark on the packet. This means they have been tested to high safety standards.</p>
            <p data-block-key="qxi6s">Also, check that the expiry date is clearly visible on the packet.</p>
        </section>
        
          
        <br> 

        <section>
            <h2 data-block-key="60maz">Types of condoms</h2>
            <p data-block-key="ih17v">There are 2 basic types of condoms available in the UK: external (also called a "male" condom) and internal (also called a "female" condom or femidom).</p>
            <h3 data-block-key="6kkdl">External ("male") condoms</h3>
            <p data-block-key="p0sma">During sex, you wear the condom on your penis to prevent semen and sperm from entering your partner's body when you ejaculate (come).</p>
            <p data-block-key="ffes2">Semen can carry STIs. It also contains sperm. If sperm goes inside a vagina there's a chance it could meet with an egg and lead to pregnancy. Using a condom can stop this from happening.</p>
            <p data-block-key="cg9iq">The condom should be put on when your penis is erect (hard) and before it comes into contact with your partner's body.</p>
            <p data-block-key="8ctan">To use an external condom correctly, follow these steps:</p>
            <ul>
              <li data-block-key="d3994">Carefully open the foil packaging the condom is wrapped in, taking care not to tear the condom.</li>
              <li data-block-key="2pam9">Hold the tip of the condom between your finger and thumb to make sure it's put on the right way around and no air is trapped inside (the condom may split if air is trapped inside).</li>
              <li data-block-key="qrn8g">Place the condom over the tip of your penis.</li>
              <li data-block-key="ymq5v">While squeezing the tip of the condom, roll it down over the length of your erect penis.</li>
              <li data-block-key="ceqpn">If the condom will not unroll, it's probably on inside out - start again with a new condom as there may be semen or sperm on it.</li>
            </ul>
            <p data-block-key="17bma">Make sure that the condom stays in place while you're having sex. If it comes off, stop and put on a new one.</p>
            <p data-block-key="u74du">After ejaculation (when you've come) and while your penis is still hard, hold the condom in place and carefully withdraw your penis from your partner's body.</p>
            <p data-block-key="dlonu">You should only take the condom off your penis when there's no further contact with your partner's body.</p>
            <p data-block-key="qv2bq">Wrap the used condom in a tissue and put it in the bin. You should never flush condoms down the toilet as they may block the toilet and can cause environmental damage.</p>
            <h3 data-block-key="2g4ho">Internal ("female") condoms</h3>
            <p data-block-key="d3lf9">Internal condoms are inserted into your vagina any time before sex, but must always be inserted before a penis touches your genital area.</p>
            <p data-block-key="ftqiw">To use an internal condom, follow these steps:</p>
            <ul>
              <li data-block-key="10b2r">Carefully remove the condom from its packaging, taking care not to tear it.</li>
              <li data-block-key="cksfj">To place the closed end of the condom into your vagina, first squeeze the soft inner ring between your forefinger or middle finger and thumb.</li>
              <li data-block-key="z30ny">Use your other hand to separate the folds of skin (labia) around your vagina, then push the squeezed ring into your vagina.</li>
              <li data-block-key="u0arw">Put your index or middle finger, or both, in the open end of the condom until the inner ring can be felt and push the condom as far up your vagina as possible, with the outer ring lying against the outside of your vagina.</li>
              <li data-block-key="jhxd8">During sex, the outer ring of the condom should stay on the outside of your vagina at all times. If the outer ring gets pushed inside your vagina, stop and put it back in the right place.</li>
              <li data-block-key="gsjkt">Make sure that the penis goes in the condom - take care to make sure that the penis does not go between the condom and the wall of your vagina.</li>
            </ul>
            <p data-block-key="orw12">Immediately after sex, slightly twist and pull the end of the condom to remove it, taking care not to spill any semen (sperm) that's inside it. If this happens, you'll need to seek advice about emergency contraception from your GP or pharmacist.</p>
            <p data-block-key="m17fa">Wrap the condom in a tissue and throw it in a bin, not in the toilet.</p>
            <h3 data-block-key="xmjmv">Lubricants</h3>
            <p data-block-key="4a321">Some condoms come lubricated to make them easier to use, but you may like to use additional lubricant (lube).</p>
            <p data-block-key="tsho4">This is particularly advised for anal sex to reduce the chance of the condom splitting.</p>
              <p data-block-key="4wq8s">If you use a lubricant when having sex, make sure it's water or silicone based. Oil-based lubricants, such as lotion or baby oil, can damage latex and polyisoprene condoms, and increase the likelihood that they'll break.</p>
        </section>
        
    
        <br> 

        <section>
            <h2 data-block-key="zma0y">What to do if your condom splits</h2>
            <p data-block-key="oc8b9">If your condom splits while you're having sex, you should visit your GP or go to your local sexual health or genitourinary medicine (GUM) clinic as soon as possible.</p>
            <p data-block-key="6ve1c">You may need medicine called post-exposure prophylaxis (PEP) if there's a chance you were exposed to HIV, or get emergency contraception to reduce the chance of pregnancy.</p>
            <p data-block-key="upg0w">Emergency contraception includes the <a href="/conditions/contraception/emergency-contraception/">emergency pill</a> or the <a href="/conditions/contraception/iud-coil/">intrauterine device (IUD)</a>.</p>
            <p data-block-key="0yqrh">Emergency contraception is available free from contraception clinics, GPs that provide contraception services, Brook clinics, sexual health clinics and some GUM clinics, but not all are able to fit the IUD.</p>
            <p data-block-key="qxipt">The emergency contraceptive pill Levonelle and ellaOne can be bought from most pharmacies, and some provide it free.</p>
            <p data-block-key="r1r4e"><a href="https://www.nhs.uk/service-search/other-services/Emergency-contraception/LocationSearch/731">Find emergency contraception services near you</a></p>
            <p data-block-key="sohsy">You can find out more about:</p>
            <ul>
              <li data-block-key="9x2os"><a href="female-condoms">internal (female) condoms</a></li>
              <li data-block-key="6bixc"><a href="male-condoms">external (male) condoms</a></li>
            </ul>
        </section>
        
        <aside class="nhsuk-grid-column">
          <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
            <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
              More in <a href="../condoms">Condoms</a>
            </h2>

            <nav role="navigation" class="beta-nhsuk-navigation-sideways">
              <ul class="beta-nhsuk-navigation-sideways__list">
                
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="male-condoms">
                    Male condoms
                  </a>
                </li>
                  
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="female-condoms">
                    Female condoms
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="condom-tips">
                    Condom tips
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                  How do I use a condom?
                </li>

              </ul>
            </nav>
          </div>
        </aside>
        
          <div>
            <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
                Page last reviewed: 14 March 2022
                <br>
                Next review due: 14 March 2025
            </p>
          </div>
        
        
            </div>
            <div class="nhsuk-grid-column-one-third">
        
              
        
            </div>
          </div>

        </article>

       

    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{{
 footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Profile editor login"
      },
      {
        "URL": "#",
        "label": "Site map"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "#",
        "label": "Cookies"
      }
    ]
  })
}}
{% endblock %}

