{% extends 'layout.html' %}

{% block pageTitle %}
  Condoms (male)
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/conditions/",
      text: "Health A to Z"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    },
    {
      href: "../../methods-of-contraception",
      text: "Methods of contraception"
    }
  ],
      href: "../condoms",
      text: "Condoms"
})
}}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <h1><span role="text">Condoms (male)  </h1>
          </div>
        </div>



        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <section>
                        <p>Condoms are the only type of contraception that can both prevent pregnancy and protect against <a href="https://www.nhs.uk/conditions/sexually-transmitted-infections-stis/">sexually transmitted infections (STIs)</a>.</p>
                        <p>There are 2 types of condoms:</p>
                        <ul>
                          <li>male condoms, worn on the penis – sometimes called external condoms</li>
                          <li>female condoms, worn inside the vagina – sometimes called internal condoms</li>
                        </ul>

                        <p>This page is about male condoms, and explains how they work and where you can get them.</p>
                        <p>Condoms are made from very thin latex (rubber), polyisoprene or polyurethane and are designed to stop your semen from coming into contact with your sexual partner.</p>
                      </section>

                    <section>
                        <h2>At a glance: male condoms</h2>
                        <ul>
                          <li>When used correctly every time you have sex, male condoms are <b>98% effective</b>. This means 2 out of 100 people will become pregnant in 1 year when male condoms are used as contraception.</li>
                          <li>You can get free condoms from contraception clinics, sexual health clinics and some GP surgeries.</li>
                          <li>Oil-based products - such as moisturiser, lotion and Vaseline - can damage latex and polyisoprene condoms, but they are safe to use with polyurethane condoms.</li>
                          <li>Water-based lubricant is safe to use with all condoms.</li>
                          <li>It's possible for a condom to slip off during sex. If this happens, you may need <a href="">emergency contraception</a> and to get checked for STIs.</li>
                          <li>Condoms need to be stored in places that are not too hot or cold, and away from sharp or rough surfaces that could tear them or wear them away.</li>
                          <li>Putting on a condom can be an enjoyable part of sex and does not have to feel like an interruption.</li>
                          <li>If you're sensitive to latex, you can use polyurethane or polyisoprene condoms instead.</li>
                          <li>A condom must not be used more than once. Use a new one each time you have sex.</li>
                          <li>Condoms have a use-by date on the packaging. Do not use out-of-date condoms.</li>
                          <li>Always use condoms that have the European CE mark or the UKCA mark on the packet. This means they've been tested to high safety standards.</li>
                      </ul>
                    </section>
 
                    <section>
                      <h2>How a male condom works</h2>
                      <p>Male condoms are a "barrier" method of contraception. They are made of very thin latex (rubber), polyurethane or polyisoprene and are designed to prevent pregnancy by stopping sperm from meeting an egg.</p>
                      <p>They can also protect against STIs if used correctly during vaginal, anal and oral sex.</p>
                      <p>Make sure that your penis does not touch your partner's genital area before you have put on a condom - semen can come out of the penis before full ejaculation (you have come).</p>
                      <p>If this happens, or if semen gets into your partner's vagina during vaginal sex while using a condom, you may need <a href="../emergency-contraception">emergency contraception</a>. You should also consider having an STI test.</p>
                    </section>
                    
                    <section>
                      <h2>How to use a male condom</h2>
                      <ul>
                        <li>Take the male condom out of the packet, being careful not to tear it with jewellery or fingernails. Do not open the packet with your teeth.</li>
                        <li>Place the condom over the tip of the erect penis.</li>
                        <li>If there's a teat on the end of the condom, use your thumb and forefinger to squeeze the air out of it.</li>
                        <li>Gently roll the condom down to the base of the penis.</li>
                        <li>If the condom will not roll down, you may be holding it the wrong way round. If this happens, it may have sperm on it, so throw it away and try again with a new one.</li>
                        <li>After sex, take out the penis while it's still erect - hold the condom on at the base of the penis while you do this.</li>
                        <li>Remove the condom from the penis, being careful not to spill any semen.</li>
                        <li>Throw the condom away in a bin, not down the toilet.</li>
                        <li>Make sure your penis does not touch your partner's genital area again.</li>
                        <li>If you have sex again, use a new condom.</li>
                      </ul>
                      <h3>Using lubricant</h3>
                      <p>Male condoms come lubricated to make them easier to use, but you may also like to use additional lubricant (lube). This is particularly advised for anal sex to reduce the chance of the condom splitting.</p>
                      <p>You can use any type of lubricant with polyurethane condoms that are not made of latex. However, if you're using latex or polyisoprene condoms, do not use oil-based lubricants - such as lotion, body oil or petroleum jelly (Vaseline). This is because oil-based lubricants can damage the condom and make it more likely to split.</p>
                      <h3>Male condoms with spermicide</h3>
                      <p>Some male condoms come with spermicide on them. You should avoid using this type, or using spermicide as a lubricant, as it does not protect against STIs and may increase your risk of infection.</p>
                    </section>
                    
                    <section>
                      <h2>Who can use male condoms?</h2>
                      <p>Most people can safely use male condoms, but they may not be the most suitable method of contraception for everyone.</p>
                      <ul>
                        <li>Some people are allergic to latex condoms. If this is a problem, polyurethane or polyisoprene condoms are less likely to cause an allergic reaction.</li>
                        <li>If you have difficulty keeping an erection, you may not be able to use condoms because the penis must be erect to prevent semen from leaking or the condom slipping off.</li>
                      </ul>
                    </section>
                    
                    <section>
                      <h2>Advantages and disadvantages of male condoms</h2>
                      <p>Some advantages of using male condoms:</p>
                      <ul>
                        <li>When used correctly and consistently, they are a reliable method of preventing pregnancy and protecting both partners from STIs, including <a href="/conditions/chlamydia/">chlamydia</a>, <a href="/conditions/gonorrhoea/">gonorrhoea</a> and <a href="/conditions/hiv-and-aids/">HIV</a>.</li>
                        <li>You only need to use them when you have sex - they do not need advance preparation and are suitable for unplanned sex.</li>
                        <li>In most cases, there are no medical side effects from using condoms.</li>
                        <li>They are easy to get hold of and come in a variety of shapes, sizes and flavours.</li>
                      </ul>
                      <p>Some disadvantages include:</p>
                      <ul>
                        <li>Some couples find that using condoms interrupts sex - to get around this, try to make using a condom part of foreplay.</li>
                        <li>Condoms are very strong but may split or tear if not used properly. If this happens to you, practise putting them on so you get used to using them.</li>
                        <li>Some people may be allergic to latex, plastic or spermicides, but you can get condoms that are less likely to cause an allergic reaction.</li>
                        <li>When using a condom, you have to pull out after you have ejaculated and before your penis goes soft, holding the condom firmly in place.</li>
                      </ul>
                    </section>
                  

                    <section>
                      <h2>Can anything make male condoms less effective?</h2>
                      <p>If you're having vaginal sex, sperm can sometimes get into the vagina during sex, even when using a male condom. This may happen if:</p>
                      <ul>
                        <li>the penis touches the area around the vagina before a condom is put on</li>
                        <li>the condom splits or comes off</li>
                        <li>the condom gets damaged by sharp fingernails or jewellery</li>
                        <li>you use oil-based lubricants, such as lotion, baby oil or petroleum jelly, with latex or polyisoprene condoms - this damages the condom</li>
                        <li>you're using medicine for conditions like <a href="/conditions/vaginal-thrush/">thrush</a>, such as creams, pessaries or suppositories - this can damage latex and polyisoprene condoms, and stop them working properly</li>
                      </ul>
                      <p>If you think sperm has entered the vagina, you may need <a href="../../emergency-contraception">emergency contraception</a>. You can use emergency contraception up to 5 days after unprotected sex (when sperm entered the vagina). </p>
                      <p>You should also consider having an STI test. You can go to a:</p>
                      <ul>
                        <li>sexual health clinic</li>
                        <li>contraception clinic</li>
                        <li>young person's clinic</li>
                      </ul>
                      <p>You can use another form of contraception, such as the contraceptive pill or implant, for extra protection against pregnancy.</p>
                      <p>However, other forms of contraception will not protect you against STIs. You'll still be at risk of STIs if the condom breaks.</p>
                    </section>
                    

                    <section>
                        <h2>Where to get male condoms</h2>
                        <p>You can get male condoms for free, even if you're under 16, from:</p>
                        <ul>
                          <li>contraception clinics</li>
                          <li>sexual health or GUM (genitourinary medicine) clinics</li>
                          <li>some GP surgeries</li>
                          <li>some young people's services</li>
                        </ul>
                          <p><a href="https://www.nhs.uk/service-search/find-a-sexual-health-clinic/">Find a sexual health clinic</a></p>
                          <p>You can also buy condoms from:</p>
                          <ul>
                            <li>pharmacies</li>
                            <li>supermarkets</li>
                            <li>websites</li>
                            <li>vending machines in some public toilets</li>
                            <li>some petrol stations</li>
                          </ul>
                          <p>Always buy condoms that carry the European CE mark or the UKCA mark on the packet. This means they've been tested to the required safety standards.</p>
                    </section>
                    
                    
                    <section>
                      <h2>If you're under 16 years old</h2>
                      <p>Contraception services are free and confidential, including for people under the age of 16.</p>
                      <p>If you're under 16 and want contraception, the doctor, nurse or pharmacist will not tell your parents (or carer) as long as they believe you fully understand the information you're given and the decisions you're making.</p>
                      <p>Doctors and nurses work under strict guidelines when dealing with people under 16. They'll encourage you to consider telling your parents, but they will not make you.</p>
                      <p>The only time a professional might want to tell someone else is if they believe you're at risk of harm, such as abuse. The risk would need to be serious, and they would usually discuss this with you first.</p>
                    
                    
                    </section>
                  
                  
                    <aside class="nhsuk-grid-column">
                      <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
                        <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
                          More in <a href="../condoms">Condoms</a>
                        </h2>
            
                        <nav role="navigation" class="beta-nhsuk-navigation-sideways">
                          <ul class="beta-nhsuk-navigation-sideways__list">
                            
                            <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                              Male condoms
                            </li>
                      
                            <li class="beta-nhsuk-navigation-sideways__item">
                              <a href="female-condoms">
                                Female condoms
                              </a>
                            </li>
            
                            <li class="beta-nhsuk-navigation-sideways__item">
                              <a href="condom-tips">
                                Condom tips
                              </a>
                            </li>
            
                            <li class="beta-nhsuk-navigation-sideways__item">
                              <a href="how-do-i-use-a-condom">
                                How do I use a condom?
                              </a>
                            </li>
            
                          </ul>
                        </nav>
                      </div>
                    </aside>
                    
            
                    <div>
                      <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
                        Page last reviewed: 12 August 2022<br>
                        Next review due: 12 August 2025
                      </p>
                    </div>

                </div>

            </div>
        </article>


    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{{
 footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Profile editor login"
      },
      {
        "URL": "#",
        "label": "Site map"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "#",
        "label": "Cookies"
      }
    ]
  })
}}
{% endblock %}

