{% extends 'layout.html' %}

{% block pageTitle %}
  Side effects of an IUS (intrauterine system)
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/conditions/",
      text: "Health A to Z"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    },
    {
      href: "../../methods-of-contraception",
      text: "Methods of contraception"
    }
  ],
      href: "../ius-intrauterine-system",
      text: "IUS (intrauterine system)"
})
}}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h1>
              <span role="text">
                Side effects of an IUS (intrauterine system)
                <span role="text">
                  <span class="nhsuk-caption-xl"><span class="nhsuk-u-visually-hidden"> </span>Brand names: Mirena, Levosert, Kyleena, Jaydess</span>
                </span>
              </span>
            </h1>
          </div>
        </div>


        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">

                  <section>
                    <h2>Side effects of an IUS</h2>
                    <p>Side effects of an IUS (intrauterine system), also called a hormonal coil, are most common for a few months after having it fitted. Many IUS users do not get any side effects.</p>
                    <p>Possible side effects include:</p>
                    <ul>
                      <li>pain and bleeding for a few days after the procedure</li>
                      <li>small fluid-filled sacs (cysts) on your ovaries – these are usually harmless and disappear without treatment</li>
                    </ul>
                    <p>Some people report headaches, acne, sore breasts, and mood changes. However, there isn't enough evidence to say whether this is caused by an IUS.</p>
                    <p>If you get any of these symptoms, they should go away within a few months. If any side effects are a problem for you, speak to a doctor or nurse.</p>
                    <p>Your partner should not be able to feel your IUS during sex. If they can, see a doctor or nurse for a check-up.</p>
                    <h3>How an IUS affects periods</h3>
                    <p>An IUS can significantly reduce menstrual bleeding, and even stop periods altogether for some users.</p>
                    <p>Some types of IUS are the most effective treatments for heavy periods.</p>
                    <p>However, you might get irregular, longer or more frequent bleeding for 3 to 6 months after having an IUS fitted. But this should improve within a few months.</p>
                    <p>If irregular or heavy bleeding continues for longer than 6 months, see your doctor or nurse for a check-up. </p>
                    
                    <h2>How well does an IUS work</h2>
                    <p>An IUS is over 99% effective at preventing pregnancy.</p>
                    <p>This means that less than 1 in 100 women using an IUS as their method of contraception get pregnant each year.</p>
                    
                    <h2>Risks of the IUS</h2>
                    <p>The IUS is very safe, but there are some rare risks, including:</p>
                    <ul>
                      <li>pelvic infections, usually within 3 weeks of having an IUS fitted</li>
                      <li>your IUS moving or being pushed out by the womb, usually within 3 months of having an IUS fitted</li>
                      <li>damage to the womb</li>
                      <li><a href="/conditions/ectopic-pregnancy/">ectopic pregnancy</a> in the rare case that the IUS fails</li>
                    </ul>
                
          
                    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--urgent">
                      <div class="nhsuk-card--care__heading-container">
                        <h2 class="nhsuk-card--care__heading">
                          <span role="text">
                            <span class="nhsuk-u-visually-hidden">Urgent advice: </span>Ask for an urgent GP appointment or get help from NHS 111 if:
                          </span>
                        </h2>
                        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
                      </div>
                      <div class="nhsuk-card__content">
                    
                     
                    <p data-block-key="4p0ul">You have an IUS and:</p>
                    <ul>
                      <li>you have pain or tenderness in your lower abdomen</li>
                      <li>you have a high temperature</li>
                      <li>you have abnormal or smelly discharge</li>
                      <li>you have very heavy vaginal bleeding</li>
                      <li>you think you might be pregnant</li>
                      <li>you cannot feel the threads of your IUS, or they feel shorter or longer than usual</li>
                    </ul>
                    <p>You can call 111 or <a href="https://111.nhs.uk/">get help from 111 online</a>.</p>
              
                  </div>
                </div>
      
                <div class="nhsuk-warning-callout">
                  <h3 class="nhsuk-warning-callout__label">
                      If you cannot feel your IUS threads
                  </h3>
                    <p>If you cannot feel the threads when you check for them you might not be protected against pregnancy, and you may need <a href="../emergency-contraception">emergency contraception</a>. The IUS can make some forms of emergency contraception less effective, so speak to your doctor, nurse or pharmacist for advice.</p>
                    <p>Use another form of contraception until a doctor or nurse has checked your IUS.</p>
                </div>
                
                  </section>

                </div>
            </div>
        </article>


        <aside class="nhsuk-grid-column">
          <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
            <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
              More in <a href="../ius-intrauterine-system">IUS (intrauterine system)</a>
            </h2>

            <nav role="navigation" class="beta-nhsuk-navigation-sideways">
              <ul class="beta-nhsuk-navigation-sideways__list">
                
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-is-an-ius-intrauterine-system">
                    What is an IUS (intrauterine system)?
                  </a>
                </li>
                  
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="where-to-get-an-ius-intrauterine-system">
                    Where to get it
                  </a>
                </li>
                  
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="who-can-get-an-ius-intrauterine-system">
                    Who can get it
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="getting-an-ius-intrauterine-system-fitted-or-removed">
                    Getting it fitted or removed
                  </a>
                </li>
                                
                <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                  Side effects of an IUS
                </li>

              </ul>
            </nav>
          </div>
        </aside>


        <div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
            Page last reviewed: 13 September 2022
            <br>
            Next review due: 13 September 2022
          </p>
        </div>


    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{{
 footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Profile editor login"
      },
      {
        "URL": "#",
        "label": "Site map"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "#",
        "label": "Cookies"
      }
    ]
  })
}}
{% endblock %}

