

.beta-nhsuk-navigation-sideways__item.is-active {
    border-left: 4px solid #212b32;
    color: #212b32;
    margin-left: -12px;
    padding-left: 8px;
  }
  
  .beta-nhsuk-navigation-sideways__item {
    padding-bottom: 4px;
    padding-top: 4px;
    list-style-type: none;
  
  }
  