<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->



<!-- Set the page title -->
{% block pageTitle %}
  Emergency contraception
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/nhsuk-homepage",
      text: "Home"
    }
    ],
      href: "../contraception",
      text: "Contraception"
})
}}
{% endblock %}


{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper  nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Emergency contraception</h1>
    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        
        <section>

          <p>Emergency contraception can stop you getting pregnant after having unprotected sex (sex without contraception) or when contraception might have failed.</p>
          <p>You need to use emergency contraception within 3 to 5 days of having unprotected sex. The sooner you use emergency contraception, the more effective it usually is.</p>
            
          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>Emergency contraception is free from NHS services such as sexual health clinics and GP surgeries</p>
          </div>

        </section>


        <section>

          <h2>Where can I get emergency contraception?</h2>

          <p>You can get free emergency contraception from:</p>
            <ul>
              <li>most sexual health clinics, also called family planning or contraception clinics</li>
              <li>most GP surgeries - you can contact your GP surgery for details</li>
              <li>some NHS walk-in centres</li>
              <li>pharmacies that offer NHS emergency contraception services</li>
            </ul>
          <p>You can also buy the emergency contraceptive pill at most pharmacies. Many pharmacies also sell the emergency contraceptive pill online.</p>
          <p></p>

          <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="https://www.nhs.uk/Service-Search/other-services/Emergency%20contraception/LocationSearch/731">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="36" width="36">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">Find emergency contraception services</span>
          </a>
          </div>


          <h2>Types of emergency contraception</h2>
          <p>There are 2 main types of emergency contraception:</p>
          <ul>
            <li>IUD (intrauterine device, also called the copper coil)</li>
            <li>emergency contraceptive pill (also called the morning after pill)</li>
          </ul>
          <p>The IUD is the most effective method of emergency contraception.</p>
          <p>Though unlike the emergency contraceptive pill, you will need to make an appointment to have an IUD fitted by a by a nurse or doctor. This is usually done at a sexual health clinic or GP surgery.</p>
          
          <h3>IUD</h3>
          <p>An IUD can be fitted within 5 days (120 hours) after sex.</p>
          <p>It is a small plastic T-shape that a nurse or doctor can put into your womb.</p>
          <p>If you want, you can choose to keep the IUD fitted and use it as your usual method of contraception. An IUD lasts for 5 or 10 years, depending on the type.</p>
          <p>If you do not want to keep it, the IUD can be removed after your next period</p>
          <p><a href="iud-intrauterine-device">Read more about the IUD, including side effects and who can use it</a>.</p>

          <h3>Emergency contraceptive pill</h3>
          <p>There are 2 main types of the emergency contraceptive pill use in the UK:</p>
          <ul>
            <li>Levonelle, which needs to be taken within 3 days (72 hours) after sex</li>
            <li>ellaOne, which needs to be taken within 5 days (120 hours) after sex</li>
          </ul>
          <p><a href="emergency-contraceptive-pill-morning-after-pill">Read more about the emergency pill, including side effects and who can use it</a>.</p>

        </section>

        <div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
          Page last reviewed: 24 June 2022<br>
          Next review due: 24 June 2022
          </p>
        </div>


   </div>
  </div>
</article>




  
</main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer">

        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Home</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Health A to Z</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Live Well</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Mental health</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Care and support</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Pregnancy</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS services</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Coronavirus (COVID-19)</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS App</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Find my NHS number</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Your health records</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About the NHS</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Healthcare abroad</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Contact us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Other NHS websites</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Profile editor login</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list nhsuk-footer__meta">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Our policies</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
          </li>
        </ul>
      </div>
      <div>
        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      </div>

    </div>
  </div>
</footer>
{% endblock %}

