<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->


<!-- Set the page title -->
{% block pageTitle %}
  Methods of contraception
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}



{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/nhsuk-homepage",
      text: "Home"
    }
    ],
      href: "../contraception",
      text: "Contraception"
})
}}
{% endblock %}


{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
        
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
    
      <div class="nhsuk-u-reading-width">
    
        <h1>Methods of contraception</h1>
        <p class="nhsuk-lede-text">
          Find out about the different methods of contraception for preventing pregnancy, how to get them and how well they work
        </p>
    
      </div>
    
      <article>
        <ul class="nhsuk-grid-row nhsuk-card-group">

                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="methods-of-contraception/combined-pill">
                            Combined pill
                          </a>
                        </h2>
                        <p>Contains hormones progestogen and oestrogen</p>
                      </div>
                    </div>
                  </li>


                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="methods-of-contraception/progestogen-only-pill">
                            Progestogen-only pill
                          </a>
                        </h2>
                        <p>Also called the mini pill, contains the hormone progestogen</p>
                      </div>
                    </div>
                  </li>


                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="methods-of-contraception/iud-intrauterine-device">
                            IUD (intrauterine device, or copper coil)
                          </a>
                        </h2>
                        <p>Inserted into the womb (uterus), does not contain hormones</p>
                      </div>
                    </div>
                  </li>


                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="methods-of-contraception/ius-intrauterine-system">
                            IUS (intrauterine system or hormonal coil)
                          </a>
                        </h2>
                        <p>Inserted into the womb (uterus), and releases the hormone progestogen</p>
                      </div>
                    </div>
                  </li>


                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="methods-of-contraception/contraceptive-implant">
                            Contraceptive implant
                          </a>
                        </h2>
                        <p>Inserted under the skin of your arm, and releases the hormone progestogen</p>
                      </div>
                    </div>
                  </li>


                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="methods-of-contraception/contraceptive-injection">
                            Contraceptive injection
                          </a>
                        </h2>
                        <p>An injection that contains the hormone progestogen</p>
                      </div>
                    </div>
                  </li>


                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="methods-of-contraception/contraceptive-patch">
                            Contraceptive patch
                          </a>
                        </h2>
                        <p>A sticky patch is worn on the skin and releases the hormones progestogen and oestrogen</p>
                      </div>
                    </div>
                  </li>


                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="methods-of-contraception/vaginal-ring">
                            Vaginal ring
                          </a>
                        </h2>
                        <p>A soft, flexible ring put in the vagina, releasing the hormones progestogen and oestrogen</p>
                      </div>
                    </div>
                  </li>


                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="methods-of-contraception/condoms">
                            Condoms
                          </a>
                        </h2>
                        <p>Worn on the penis to help prevent pregnancy and sexually transmitted infections (STIs)</p>
                      </div>
                    </div>
                  </li>


                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="">
                            Internal (female) condoms
                          </a>
                        </h2>
                        <p>Put in the vagina before sex to help prevent pregnancy and sexually transmitted infections (STIs)</p>
                      </div>
                    </div>
                  </li>


                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="methods-of-contraception/female-sterilisation">
                            Female sterilisation
                          </a>
                        </h2>
                        <p>A procedure that permanently stops eggs meeting sperm</p>
                      </div>
                    </div>
                  </li>


                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="methods-of-contraception/vasectomy-male-sterilisation">
                            Vasectomy (male sterilisation) 
                          </a>
                        </h2>
                        <p>A procedure that permanently stops sperm being ejaculated during sex</p>
                      </div>
                    </div>
                  </li>


                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="methods-of-contraception/diaphragm-or-cap">
                            Diaphragm or cap
                          </a>
                        </h2>
                        <p>Put inside the vagina before sex to stop sperm getting into the womb</p>
                      </div>
                    </div>
                  </li>


                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="methods-of-contraception/natural-family-planning">
                            Natural family planning
                          </a>
                        </h2>
                        <p>Includes tracking your menstrual cycle to avoid sex when you're most fertile</p>                  
                      </div>
                    </div>
                  </li>


                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
                      <div class="nhsuk-card__content beta-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                          <a class="nhsuk-card__link" href="methods-of-contraception/emergency-contraception">
                            Emergency contraception
                          </a>
                        </h2>
                        <p>Including the emergency pill (morning after pill), that's taken 3 to 5 days after sex, depending on the type</p>
                      </div>
                    </div>
                  </li>

        </ul>
      </article>
    
      </div>
    </div>
    
  </main>
</div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer">

        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Home</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Health A to Z</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Live Well</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Mental health</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Care and support</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Pregnancy</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS services</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Coronavirus (COVID-19)</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS App</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Find my NHS number</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Your health records</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About the NHS</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Healthcare abroad</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Contact us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Other NHS websites</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Profile editor login</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list nhsuk-footer__meta">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Our policies</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
          </li>
        </ul>
      </div>
      <div>
        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      </div>

    </div>
  </div>
</footer>
{% endblock %}