{% extends 'layout.html' %}

{% block pageTitle %}
  Contraceptive injection
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/nhsuk-homepage",
      text: "Home"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    }
  ],
      href: "../methods-of-contraception",
      text: "Methods of contraception"
})
}}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <h1>
              <span role="text">
                 Contraceptive injection
            </h1>
          </div>
        </div>

       

        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">


                    <section>
                        <p>The contraceptive injection (Depo-Provera, Sayana Press or Noristerat) releases the hormone progestogen into your bloodstream to prevent pregnancy.</p>
                        <p>Depo-Provera is most commonly given in the UK and lasts for 13 weeks. Occasionally, Noristerat may be given, which lasts for 8 weeks.</p>
                        <p>Sayana Press also lasts for 13 weeks, but it's a newer type of injection so is not available at all clinics or GP surgeries.</p>

                        <section>
                          <figure class="nhsuk-image">
                            <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/S_0917_contraceptive-injection_C0069172.width-320_FeZntoV.jpg" sizes="
                                (min-width: 1020px) 320px
                                (min-width: 768px) 50vw
                                100vw
                              " srcset="
                                https://assets.nhs.uk/nhsuk-cms/images/S_0917_contraceptive-injection_C0069172.width-320_FeZntoV.jpg 320w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0917_contraceptive-injection_C0069172.width-510_f8Err1Z.jpg 510w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0917_contraceptive-injection_C0069172.width-640_a5zedi5.jpg 640w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0917_contraceptive-injection_C0069172.width-767_OklhNRb.jpg 767w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0917_contraceptive-injection_C0069172.width-1019_3SqR5L7.jpg 1019w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0917_contraceptive-injection_C0069172.width-1125_TRJFiSj.jpg 1125w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0917_contraceptive-injection_C0069172.width-1534_bIgRJjn.jpg 1534w,
                              " alt="Contraceptive injection">
                            
                            <div class="nhsuk-u-visually-hidden" aria-hidden="true">
                              Credit: 
                            </div>
                            
                          </figure>
                          </section>
                    </section>

                    <section>
                      <h2>At a glance: the contraceptive injection</h2>
                      <ul>
                        <li>If used correctly, the contraceptive injection is more than 99% effective.</li>
                        <li>It lasts for 8 or 13 weeks (depending on which injection you have) so you do not have to think about contraception every day or every time you have sex during this period.</li>
                        <li>It's very useful for women who find it difficult to remember to take a pill at the same time every day.</li>
                        <li>It does require you to remember to have a repeat injection before it expires or becomes ineffective.</li>
                        <li>It can be useful for women who cannot use contraception that contains oestrogen.</li>
                        <li>It's not affected by other medicines.</li>
                        <li>Side effects can include weight gain, headaches, mood swings, breast tenderness and irregular bleeding.</li>
                        <li>Your periods may become more irregular, heavier, shorter, lighter or stop altogether.</li>
                        <li>It can take up to 1 year for your fertility to return to normal after the injection wears off, so it may not be suitable if you want to have a baby in the near future.</li>
                        <li>It does not protect against sexually transmitted infections (STIs), so you may need to use condoms as well.</li>
                      </ul>
                    </section>

                    
                    <section>
                      <h2>How it works</h2>
                      <p>The contraceptive injection steadily releases the hormone progestogen into your bloodstream, which prevents the release of an egg each month (ovulation).</p>
                      <p>It also thickens the cervical mucus, which makes it difficult for sperm to move through the cervix, and thins the lining of the womb so a fertilised egg is less likely to implant itself.</p>
                      <p>You usually have the Depo-Provera and Noristerat injections in your bottom, but you can have them in your upper arm.</p>
                      <p>You can have the Sayana Press injection in your tummy (abdomen) or thigh and would normally learn to do this yourself.</p>
                      <h3>When it starts to work</h3>
                      <p>You can have the injection at any time during your menstrual cycle, as long as you're not pregnant.</p>
                      <p>If you have the injection during the first 5 days of your menstrual cycle, you'll be immediately protected against becoming pregnant.</p>
                      <p>If you have the injection on any other day of your cycle, you'll need to use additional contraception, such as condoms, for 7 days.</p>
                      <h3>After giving birth</h3>
                      <p>You can have the contraceptive injection any time after you have given birth if you're not breastfeeding. If you're breastfeeding, the injection will usually be given after 6 weeks.</p>
                      <ul>
                        <li>If you start injections on or before day 21 after giving birth, you'll be immediately protected against becoming pregnant.</li>
                        <li>If you start injections after day 21, you'll need to use additional contraception, such as condoms, for the next 7 days.</li>
                      </ul>
                      <p>You're more likely to have heavy and irregular bleeding if you have the injection during the first few weeks after giving birth.</p>
                      <p>It's safe to use contraceptive injections while you're breastfeeding.</p>
                      <h3>After a miscarriage or abortion</h3>
                      <p>You can have the injection immediately after a miscarriage or an abortion and will be protected against pregnancy straight away.</p>
                      <p>If you have the injection more than 5 days after a miscarriage or abortion, you'll need to use additional contraception, such as condoms, for the next 7 days.</p>
                    </section>


                    <section>
                      <h2>Who can use the injection?</h2>
                      <p>Most women can have a contraceptive injection.</p>
                      <p>But it may not be suitable if you:</p>
                      <ul>
                        <li>think you might be pregnant</li>
                        <li>do not want your periods to change</li>
                        <li>want to have a baby in the next year</li>
                        <li>have unexplained bleeding in between periods or after sex</li>
                        <li>have arterial disease or a history of <a href="/conditions/coronary-heart-disease/">heart disease</a> or <a href="/conditions/stroke/">stroke</a></li>
                        <li>have <a href="/conditions/liver-disease/">liver disease</a></li>
                        <li>have <a href="/conditions/breast-cancer/">breast cancer</a> or have had it in the past</li>
                        <li>are at risk of <a href="/conditions/osteoporosis/">osteoporosis</a></li>
                      </ul>
                    </section>


                    <section>
                      <h2>Advantages and disadvantages of the injection</h2>
                      <p>Advantages:</p>
                      <ul>
                        <li>each injection lasts for either 8 or 13 weeks</li>
                        <li>it does not interrupt sex</li>
                        <li>it's an option if you can't use oestrogen-based contraception</li>
                        <li>you do not have to remember to take a pill every day</li>
                        <li>it's safe to use while you're breastfeeding</li>
                        <li>it's not affected by other medicines</li>
                        <li>it may reduce heavy, painful periods and help with premenstrual symptoms for some women</li>
                      </ul>
                      <p>Disadvantages:</p>
                      <ul>
                        <li>your periods may change and become irregular, heavier, shorter, lighter or stop altogether - this can carry on for some months after you stop the injections</li>
                        <li>it does not protect you against STIs</li>
                        <li>there can be a delay of up to 1 year before your periods return to normal and you can become pregnant</li>
                        <li>some people may put on weight when they use Depo-Provera or Sayana Press contraceptive injections</li>
                        <li>you may experience side effects like headaches, acne, hair loss, decreased sex drive and mood swings</li>
                        <li>any side effects can continue for as long as the injection lasts (8 or 13 weeks) and for some time after</li>
                      </ul>
                    </section>

                    <section>
                      <h2>Risks</h2>
                      <p>There's a small risk of infection at the site of the injection. In very rare cases, some people may have an allergic reaction to the injection.</p>
                      <p>Using Depo-Provera affects your natural oestrogen levels, which can cause thinning of the bones, but it does not increase your risk of breaking a bone.</p>
                      <p>This is not a problem for most women because the bone replaces itself when you stop the injection, and it does not appear to cause any long-term problems.</p>
                      <p>Sometimes the doctor may recommend that you stop after 2 years so there's no long-term effect on your bones.</p>
                     </section>

                    <section>
                      <h2>Where you can get it</h2>
                      <p>You can get the contraceptive injection for free, even if you're under 16, from:</p>
                      <ul>
                        <li>contraception clinics</li>
                        <li>sexual health or genitourinary medicine (GUM) clinics</li>
                        <li>GP surgeries</li>
                        <li>some young people's services</li>
                      </ul>
                      <p><a href="https://www.nhs.uk/service-search/find-a-sexual-health-clinic/">Find a sexual health clinic</a>.</p>
                      <p>Sayana Press is a new form of Depo-Provera and is available in some clinics.</p>
                      <p>It's very similar to Depo-Provera in the way it works and the effects it can have on your body.</p>
                      <p>But you'll be taught how to give yourself the injection, rather than having a doctor or nurse give it to you.</p>
                    </section>

                    <section>
                      <h2>If you're under 16 years old</h2>
                      <p>Contraception services are free and confidential, including for people under the age of 16.</p>
                      <p>If you're under 16 and want contraception, the doctor, nurse or pharmacist won't tell your parents (or carer) as long as they believe you fully understand the information you're given, and the decisions you're making.</p>
                      <p>Doctors and nurses work under strict guidelines when dealing with people under 16. They'll encourage you to consider telling your parents, but they will not make you.</p>
                      <p>The only time a professional might want to tell someone else is if they believe you're at risk of harm, such as abuse.</p>
                      <p>The risk would need to be serious, and they would usually discuss this with you first.</p>
                    </section>


                    <div>
                      <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
                          Page last reviewed: 7 February 2018
                          <br>
                          Next review due: 7 February 2021
                      </p>
                    </div>



                </div>
            </div>
        </article>


    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="beta-nhsuk-footer">
        <ul class="beta-nhsuk-footer__list nhsuk-footer__list">
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="/home">Home</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">Health A to Z</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">Symptoms</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">Live Well</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">Mental health</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">Care and support</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">Pregnancy</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">NHS services</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">Coronavirus (COVID-19)</a></li>
        </ul>

        <ul class="nhsuk-footer__list beta-nhsuk-footer__list">
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">NHS App</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">Find my NHS number</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">Your health records</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">About the NHS</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">Healthcare abroad</a></li>
        </ul>

        <ul class="nhsuk-footer__list beta-nhsuk-footer__list">
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="/contact-us/index-v2">Contact us</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">Other NHS websites</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">Profile editor login</a></li>
        </ul>

        <ul class="nhsuk-footer__list beta-nhsuk-footer__list beta-nhsuk-footer__list-policies">
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">About us</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">Accessibility statement</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="javascript:void(0);">Our policies</a></li>
          <li class="beta-nhsuk-footer__list-item nhsuk-footer__list-item"><a class="beta-nhsuk-footer__list-item-link nhsuk-footer__list-item-link" href="/">Cookies</a></li>
        </ul>
      </div>

      <div>
        <p class="beta-nhsuk-footer__copyright">&copy; Crown copyright</p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}

