{% extends 'layout.html' %}

{% block pageTitle %}
  Diaphragm or cap
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/nhsuk-homepage",
      text: "Home"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    }
  ],
      href: "../methods-of-contraception",
      text: "Methods of contraception"
})
}}
{% endblock %}


{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <h1>
              <span role="text">
                Diaphragm or cap
              </span>
            </h1>
          </div>
        </div>



        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">


                    <section>
                        <p>A contraceptive diaphragm or cap is a circular dome made of thin, soft silicone that's inserted into the vagina before sex.</p>
                        <p>It covers the cervix so sperm cannot get into the womb (uterus) to fertilise an egg.</p>

                        <section>
                          <figure class="nhsuk-image">
                            <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/S_1217_cap-diaphragm_M8600094_C0356957.width-320.jpg" sizes="
                                (min-width: 1020px) 320px
                                (min-width: 768px) 50vw
                                100vw
                              " srcset="
                                https://assets.nhs.uk/nhsuk-cms/images/S_1217_cap-diaphragm_M8600094_C0356957.width-320.jpg 320w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_1217_cap-diaphragm_M8600094_C0356957.width-510.jpg 510w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_1217_cap-diaphragm_M8600094_C0356957.width-640.jpg 640w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_1217_cap-diaphragm_M8600094_C0356957.width-767.jpg 767w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_1217_cap-diaphragm_M8600094_C0356957.width-1019.jpg 1019w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_1217_cap-diaphragm_M8600094_C0356957.width-1125.jpg 1125w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_1217_cap-diaphragm_M8600094_C0356957.width-1534.jpg 1534w,
                              " alt="contraceptive cap">
                        
                            <div class="nhsuk-u-visually-hidden" aria-hidden="true">
                              Credit: 
                            </div>
                          </figure>

                     </section>

                    <section>
                        <h2>At a glance: contraceptive diaphragm or cap</h2>
                        <ul>
                          <li>When used correctly with spermicide, a diaphragm or cap is 92-96% effective at preventing pregnancy.</li>
                          <li>You can put in a diaphragm or cap with spermicide any time before you have sex.</li>
                          <li>More spermicide is needed if it's been in place for more than 3 hours.</li>
                          <li>The diaphragm or cap needs to be left in place for at least 6 hours after sex.</li>
                          <li>You may catch a sexually transmitted infection (STI) when using a diaphragm or cap. Use a condom as well to protect yourself.</li>
                          <li>You may develop cystitis (a bladder infection) when using a diaphragm or cap. Your doctor or nurse can check the size – switching to a smaller size may help.</li>
                          <li>If you lose or gain more than 3kg (7lbs) in weight, or have a baby, miscarriage or abortion, you may need to be fitted with a new diaphragm or cap.</li>
                          <li>Latex and spermicide can cause irritation for you or your sexual partners.</li>
                          <li>It can take time to learn how to use it.</li>
                      </ul>
                    </section>

                    <section>
                      <h2>How the contraceptive diaphragm or cap works</h2>
                      <p>A diaphragm or cap is a barrier method of contraception. It fits inside your vagina and prevents sperm passing through the cervix (the entrance of your womb). You need to use it with a gel that kills sperm (spermicide).</p>
                      <p>You only have to use a diaphragm or cap when you have sex, but you must leave it in for at least 6 hours after the last time you had sex. You can leave it in for longer than this, but do not take it out before.</p>
                      <p>You need to apply more spermicide if:</p>
                      <ul>
                        <li>you have sex again with the diaphragm or cap in place</li>
                        <li>the diaphragm or cap has been in place for 3 hours or more before you have sex</li>
                      </ul>
                      <p>Do not take the diaphragm or cap out to reapply spermicide.</p>
                      <p>When you first start using a diaphragm or cap, a doctor or nurse will examine you and advise on the correct size.</p>
                      <p>A diaphragm or cap does not provide reliable protection against sexually transmitted infections (STIs). If you're at a high risk of getting an STI - for example, you or your partner has more than one sexual partner - you may be advised to use another form of contraception. </p>
                      <p>You should not use a diaphragm or cap during your period as there is a possible link with <a href="/conditions/toxic-shock-syndrome/">toxic shock syndrome (TSS)</a>, a rare condition that can be life threatening.</p>
                      <h3>Inserting a diaphragm or cap</h3>
                      <p>Your doctor or nurse will show you how to put in a diaphragm or cap.   </p>
                      <p>You may want to squat while putting the diaphragm or cap in; others lie down or stand with one foot up on a chair - use the position that's easiest for you.</p>
                      <h4>Inserting a diaphragm</h4>
                      <ul>
                        <li>with clean hands, put 2 2cm strips of spermicide on the upper side of the diaphragm</li>
                        <li>put your index finger on top of the diaphragm and squeeze it between your thumb and other fingers</li>
                        <li>slide the diaphragm into your vagina, upwards - this should ensure that the diaphragm covers your cervix</li>
                        <li>always check that your cervix is covered - it feels like a lump, a bit like the end of your nose</li>
                        <li>if your cervix is not covered, take the diaphragm out by hooking your finger under the rim or loop (if there is one) and pulling downwards, then try again</li>
                      </ul>
                      <h4>Inserting a cap</h4>
                      <ul>
                        <li>with clean hands, fill one-third of the cap with spermicide, but do not put any spermicide around the rim as this will stop the cap staying in place</li>
                          <li>the cap has a groove between the dome and the rim - place some spermicide in this groove</li>
                          <li>squeeze the sides of the cap together and hold it between your thumb and first 2 fingers</li>
                          <li>slide the cap into your vagina, upwards</li>
                          <li>the cap must fit neatly over your cervix - it stays in place by suction</li>
                          <li>depending on your type of cap, you may need to add extra spermicide after it's been put in</li>
                        </ul>
                        <p>Your doctor or nurse may give you a temporary diaphragm or cap to practise with at home. You can learn how to use it properly and find out if the method is suitable for you. </p>
                        <p>During this time, you're not protected against pregnancy and need to use additional contraception, such as condoms, when you have sex.</p>
                        <p>When you go back to see your doctor or nurse, wear the diaphragm or cap so they can check it's the right size and you've put it in properly. When they're happy that you can use it properly, they'll give you one to use as contraception.</p>
                        <h3>Removing a diaphragm or cap</h3>
                        <p>Hook your finger under its rim, loop or strap and gently pull it downwards and out. You must leave your diaphragm or cap in place for at least 6 hours after the last time you had sex.</p>
                        <p>You can leave them in for longer than this, but do not leave them in for longer than the recommended time. This is 30 hours for diaphragms and 48 hours for caps (including the minimum of 6 hours).</p>
                        <h3>Looking after your diaphragm or cap</h3>
                        <p>After using, you can wash your diaphragm or cap with warm water and mild unperfumed soap. Rinse it thoroughly, then leave it to dry and put it in its container. Keep it in a cool, dry place.</p>
                        <ul>
                          <li>Never boil a diaphragm or cap.</li>
                          <li>Do not use disinfectant, detergent, oil-based products or talcum powder, as these can damage it.</li>
                          <li>Use water-based or silicone-based lubricant rather than oil-based lubricant, if needed.</li>
                          <li>Your diaphragm or cap may become discoloured over time, but this does not make it less effective.</li>
                          <li>Always check your diaphragm or cap for any signs of damage before using it.</li>
                        </ul>
                        <p>You can visit a GP or nurse when you want to replace your diaphragm or cap. Most of the time you can use the same diaphragm or cap for a year before replacing it.</p>
                          <p>You may need to get a different size if you:</p>
                          <ul>
                            <li>gain or lose more than 3kg (7lb) in weight</li>
                            <li>have a baby, miscarriage or abortion</li>
                          </ul>
                          <p >You're advised to wait until 6 weeks after having a baby before using a diaphragm or cap.</p>
                    </section>

                    <section>
                      <h2>Who can use a diaphragm or cap?</h2>
                      <p>You're likely to be able to use a diaphragm or cap, but it may not be suitable for you if you:</p>
                      <ul>
                        <li>have an unusually shaped or positioned cervix (entrance to the womb), or if you cannot reach your cervix</li>
                        <li>have vaginal muscles that cannot hold a diaphragm in place (possibly as a result of giving birth)</li>
                        <li>have a sensitivity or an allergy to latex or the chemicals in spermicide</li>
                        <li>have ever had <a href="/conditions/toxic-shock-syndrome/">toxic shock syndrome</a></li>
                        <li>have repeated <a href="/conditions/urinary-tract-infections-utis/">urinary tract infections</a></li>
                        <li>currently have a vaginal infection (wait until your infection clears before using a diaphragm or cap)</li>
                        <li>have a high risk of getting an STI - for example, if you have multiple sexual partners</li>
                      </ul>
                      <p>Research shows spermicides that contain the chemical nonoxynol-9 do not protect against STIs, and may even increase your risk of getting an infection.</p>
                        <p>A diaphragm or cap may be less effective if:</p>
                        <ul>
                          <li>it's damaged - for example, it's torn or has holes</li>
                          <li>it's not the right size for you</li>
                          <li>you use it without spermicide</li>
                          <li>you do not use extra spermicide with your diaphragm or cap every time you have more sex</li>
                          <li>you remove it too soon (less than 6 hours after the last time you had sex)</li>
                          <li>you use oil-based products, such as baby lotion, bath oils, moisturiser or some vaginal medicines (for example, pessaries) with latex diaphragms - these can damage the latex</li>
                        </ul>
                        <p>If any of these things happen or you've had sex without contraception, you may need to use <a href="/conditions/contraception/emergency-contraception/">emergency contraception</a>.</p>
                    </section>

                    <section>
                      <h2>Advantages and disadvantages</h2>
                      <p>Advantages of a diaphragm or cap:</p>
                      <ul>
                        <li>you only need to use a diaphragm or cap when you want to have sex</li>
                        <li>you can put it in at a convenient time before having sex (use extra spermicide if you have it in for more than 3 hours)</li>
                        <li>there are usually no serious associated health risks or side effects</li>
                        <li>you're in control of your contraception</li>
                      </ul>
                      <p>Disadvantages of a diaphragm or cap:</p>
                        <ul>
                          <li>it's not as effective as other types of contraception, and it depends on you remembering to use it and using it correctly</li>
                          <li>it does not provide reliable protection against STIs</li>
                          <li>it can take time to learn how to use it</li>
                          <li>putting it in can interrupt sex</li>
                          <li>cystitis (bladder infection) can be a problem for some women who use a diaphragm or cap</li>
                          <li>latex and spermicide can cause irritation in some women and their sexual partners</li></ul>
                    </section>

                    <section>
                      <h2>Risks</h2>
                      <p>There are no health risks associated with using a contraceptive diaphragm or cap if you use it according to the instructions that come with it.</p>
                    </section>

                    <section>
                      <h2>Where you can get a diaphragm or cap</h2>
                      <p>Contraception is free to everyone through the NHS.</p>
                      <p>Places where you can get contraception include:</p>
                      <ul>
                        <li>community contraception clinics</li>
                        <li>sexual health clinics - they also offer contraceptive and STI testing services</li>
                        <li>most GP surgeries</li>
                        <li>some young people's services (call the Sexual Health Line on 0300 123 7123 for more information)</li>
                      </ul>
                      <p><a href="/Service-Search/Sexual-health-information-and-support/LocationSearch/734">Find your nearest sexual health clinic</a></p>
                      <p>Contraception services are free and confidential, including for people under the age of 16.</p>
                      <p><a href="/conditions/contraception/which-method-suits-me/">Find out about the different types of contraception</a></p>
                    </section>  

                    <section>
                      <h2>If you're under 16</h2>
                      <p>The doctor, nurse or pharmacists will not tell your parents or carer as long as they believe you fully understand the information you're given, and your decisions.</p>
                      <p>Doctors and nurses work under strict guidelines when dealing with people under 16. They'll encourage you to consider telling your parents, but they will not make you.</p>
                      <p>The only time a professional might want to tell someone else is if they believe you're at risk of harm, such as abuse. The risk would need to be serious, and they would usually discuss this with you first.</p>
                    </section>

                </div>
            </div>
        </article>


    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{{
 footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Profile editor login"
      },
      {
        "URL": "#",
        "label": "Site map"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "#",
        "label": "Cookies"
      }
    ]
  })
}}
{% endblock %}

