{% extends 'layout.html' %}

{% block pageTitle %}
  Female sterilisation
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/conditions/",
      text: "Health A to Z"
    },
    {
      href: "../contraception",
      text: "Contraception"
    }
  ],
      href: "../methods-of-contraception",
      text: "Methods of contraception"
})
}}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <h1>
              <span role="text">
                Female sterilisation
            </h1>
          </div>
        </div>

       
        <article>
            <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">

            <section>
                <p>Female sterilisation is an operation to permanently prevent pregnancy. The fallopian tubes are blocked or sealed to prevent the eggs reaching the sperm and becoming fertilised.</p>
                <p>Depending on the method used, you would either have a <a href="">general anaesthetic</a>, where you're asleep during surgery, or <a href="">local anaesthetic</a>, where you'd be awake but not feel any pain..</p>
            </section>

            <section>
                <h2>Facts about female sterilisation</h2>
                <ul>
                  <li>Female sterilisation is more than 99% effective at preventing pregnancy.</li>
                  <li>You do not have to think about protecting yourself against pregnancy every time you have sex, so it does not interrupt your sex life.</li>
                  <li>It does not affect your hormone levels and you'll still have periods.</li>
                  <li>You'll need to use contraception up until you have the operation, and until your next period or for 3 months after the operation (depending on the type of sterilisation).</li>
                  <li>As with any surgery, there's a small risk of complications, such as internal bleeding, infection or damage to other organs.</li>
                  <li>There's a small risk that the operation will not work. Blocked tubes can rejoin immediately or years later.</li>
                  <li>If the operation fails, this may increase the risk of a fertilised egg implanting outside the womb <a href="">(ectopic pregnancy)</a>.</li>
                  <li>Sterilisation is very difficult to reverse, so you need to be sure it's right for you.</li>
                  <li>Sterilisation does not protect against <a href="">sexually transmitted infections (STIs)</a>, so you may need to use condoms as well.</li>
              </ul>
            </section>
              
            <br>

              <section>
                <h2>How it works</h2>
                <p>Female sterilisation works by preventing eggs travelling down the fallopian tubes, which link the ovaries to the womb (uterus).</p>
                <p>This means a woman's eggs cannot meet sperm, so fertilisation cannot happen.</p>
                <p>Eggs will still be released from the ovaries as normal, but they'll be absorbed naturally into the woman's body.</p>
              </section>
              
              <br>

              <section>
                <h2>How female sterilisation is carried out</h2>
                <p>The surgeon will block your fallopian tubes (tubal occlusion) by either:</p>
                <ul>
                  <li>applying clips - plastic or titanium clamps are closed over the fallopian tubes</li>
                  <li>applying rings - a small loop of the fallopian tube is pulled through a silicone ring, then clamped shut</li>
                  <li>tying, cutting and removing a small piece of the fallopian tube</li>
                </ul>
                  <p>This is a fairly minor operation and many women return home the same day.</p>
                  <h3>Tubal occlusion procedure</h3>
                  <p>The surgeon accesses your fallopian tubes by making a small cut either near your belly button <a href="/conditions/laparoscopy/">(laparoscopy)</a> or just above your pubic hairline (a mini-laparotomy).</p>
                  <p>They'll then insert a long, thin instrument that has a light and camera (a laparoscope) to clearly see your fallopian tubes.</p>
                  <p>A laparoscopy is usually used because it's faster, but a mini-laparotomy may be recommended for women who:</p>
                  <ul>
                    <li>have had recent abdominal or pelvic surgery</li>
                    <li>are <a href="/conditions/obesity/">obese</a></li>
                    <li>have a history of <a href="/conditions/pelvic-inflammatory-disease-pid/">pelvic inflammatory disease</a>, a bacterial infection that can affect the womb and fallopian tubes</li>
                  </ul>
                  <p>The fallopian tubes are then blocked by applying clips or rings, or by tying, cutting and removing a small piece of the tube.</p>
                  <h3>Removing the tubes (salpingectomy)</h3>
                  <p>If blocking the fallopian tubes has not worked, the tubes may be completely removed. This is called a salpingectomy.</p>
              </section>

              <br>

              <section>
                <h2>Is sterilisation right for me?</h2>
                <p>Almost any woman can be sterilised, but it should only be considered by women who do not want any more children or do not want children at all.</p>
                <p>Once you're sterilised it's very difficult to reverse it, so consider all options before making your decision.</p>
                <p>Sterilisation reversal is not usually available on the NHS.</p>
                <p>You may be more likely to be accepted for the operation if you're over 30 and have had children.</p>
                <p>You may also want to consider <a href="/conditions/contraception/which-method-suits-me/">which method of contraception suits you</a>, such as long-acting reversible contraception (LARC) like an implant, device or injections.</p>
              </section>

              <br>

              <section>
                <h2>Before the operation</h2>
                <p>Your GP may recommend <a href="/conditions/counselling/">counselling</a> before referring you for sterilisation.</p>
                <p>Counselling will give you a chance to talk about the operation in detail and discuss any doubts, worries or questions you might have.</p>
                <p>If you have a partner, discuss it with them before you decide. If possible, you should both agree to the procedure, but it's not a legal requirement to get your partner's permission.</p>
                <p>Your GP can refuse to carry out the procedure or refuse to refer you for it if they do not believe it's in your best interests.</p>
                <p>If the GP agrees with your decision, they'll refer you to a female reproductive specialist (gynaecologist) for treatment at your nearest NHS hospital.</p>
                <p>You'll need to use contraception until the day of the operation and right up until your next period after surgery if you're having your fallopian tubes blocked.</p>
                <p>Sterilisation can be performed at any stage in your menstrual cycle.</p>
                <p>Before you have the operation, you'll be given a pregnancy test to make sure you're not pregnant because, once you have been sterilised, there's a high risk that any pregnancy will become <a href="/conditions/ectopic-pregnancy/">ectopic</a>.</p>
              </section>

              <br>

              <section>
                <h2>Recovering after the operation</h2>
                <p>You'll be allowed home once you have recovered from the <a href="/conditions/general-anaesthesia/">anaesthetic</a>, been to the toilet and eaten.</p>
                <p >If you leave hospital within hours of the operation, take a taxi or ask a relative or friend to pick you up.</p>
                <p>The healthcare professionals treating you in hospital will tell you what to expect and how to care for yourself after surgery.</p>
                <p>They may give you a contact number to call if you have any problems or questions.</p>
                <p>If you have had a general anaesthetic, do not drive a car for 48 hours afterwards. Even if you feel fine, your reaction times and judgement may not be back to normal.</p>
                <h3>How you will feel</h3>
                <p>It's normal to feel unwell and a little uncomfortable if you have had a general anaesthetic, and you may have to rest for a few days.</p>
                <p>Depending on your general health and job, you can normally return to work 5 days after tubal occlusion, but avoid heavy lifting for about a week.</p>
                <p>You may have some slight vaginal bleeding. Use a sanitary towel, rather than a tampon, until this has stopped.</p>
                <p>You may also feel some pain, like period pain. You can take painkillers for this.</p>
                <p>If the pain or bleeding gets worse, try contacting the specialist who treated you, your GP or NHS 111.</p>
                <h3>Caring for your wound</h3>
                <p>If you had tubal occlusion, you'll have a wound with stitches where the surgeon made the cut.</p>
                <p>The stitches would need to be removed at a follow-up appointment, unless dissolvable ones were used.</p>
                <p>If there's a dressing over your wound, you can normally remove this the day after your operation. After this, you'll be able to have a bath or shower.</p>
                <h3>Having sex</h3>
                <p>Your sex drive and sex life should not be affected. You can have sex as soon as it's comfortable to do so after the operation.</p>
                <p>If you had tubal occlusion, use additional contraception until your first period to protect yourself from pregnancy.</p>
                <p>Sterilisation does not protect against sexually transmitted infections (STIs), so you may need to use condoms.</p>
              </section>
              
            
              <br>

              <section>
                  <h2>Advantages and disadvantages of female sterilisation</h2>
                  <p>Advantages:</p>
                  <ul>
                    <li>more than 99% effective at preventing pregnancy</li>
                    <li>blocking the fallopian tubes and removal of the tubes should be effective immediately - but use contraception until your next period</li>
                    <li>it will not affect your sex drive or interfere with sex</li>
                    <li>it will not affect your hormone levels</li>
                  </ul>
                  <p>Disadvantages:</p>
                  <ul>
                    <li>it does not protect against STIs, so you may need to use condoms</li>
                    <li>it cannot be easily reversed, and reversal operations are rarely funded by the NHS</li>
                    <li>it can fail - the fallopian tubes can rejoin and make you fertile again, although this is rare</li>
                    <li>there's a very small risk of complications, including internal bleeding, infection or damage to other organs</li>
                    <li>if you get pregnant after the operation, there's an increased risk it'll be an <a href="/conditions/ectopic-pregnancy/">ectopic pregnancy</a></li>
                  </ul>
              </section>
              

              <br>

              <section>
                <h2 data-block-key="kwjio">Can I get a sterilisation reversal on the NHS?</h2>
                <p data-block-key="fi8jc">Sterilisation reversal is not usually available on the NHS.</p>
                <p data-block-key="39ht6">Success rates vary, and depend on factors like age and the method that was used in the original operation.</p>
                <p data-block-key="bhtto">It's possible to have a sterilisation reversal done privately, although it'll cost several thousand pounds.</p>
                <p data-block-key="57npt">There's no guarantee that you'll be able to get pregnant after a sterilisation reversal.</p>
              </section>  
                  
              <br>
              <section>
                  <h2>Where to get more information on sterilisation</h2>
                  <p>You can get more information on sterilisation from:</p>
                  <ul>
                    <li>GP surgeries</li>
                    <li>contraception clinics</li>
                    <li>sexual health or genitourinary medicine (GUM) clinics</li>
                    <li>some young people's services</li>
                  </ul>
                  <p><a href="https://www.nhs.uk/service-search/find-a-sexual-health-clinic/">Find a sexual health clinic</a>.</p>
              </section>
              
                
              
                <div>
                  <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
                      Page last reviewed: 18 March 2021
                      <br>
                      Next review due: 18 March 2024
                  </p>
                </div>
              
              
          </div>
            
        </article>


    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{{
 footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Profile editor login"
      },
      {
        "URL": "#",
        "label": "Site map"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "#",
        "label": "Cookies"
      }
    ]
  })
}}
{% endblock %}

