{% extends 'layout.html' %}

{% block pageTitle %}
  The progestogen-only pill
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/conditions/",
      text: "Health A to Z"
    },
    {
      href: "../contraception",
      text: "Contraception"
    }
  ],
      href: "../methods-of-contraception",
      text: "Methods of contraception"
})
}}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <h1>
              <span role="text">
                The progestogen-only pill
                <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                  <span class="nhsuk-u-visually-hidden"> -</span>
                  Your contraception guide
                </span>
              </span>
            </h1>
          </div>
        </div>



        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">


                    <section>
                        <p>The traditional progestogen-only pill (POP) prevents pregnancy by thickening the mucus in the cervix to stop sperm reaching an egg.</p>
                        <p>The desogestrel progestogen-only pill can also stop ovulation.</p>
                        <p>The progestogen-only pill needs to be taken every day to work.</p>

                        <section>
                          <figure class="nhsuk-image">
                            <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/S_0917_progestogen-only-pill_C0087321.width-320.jpg" sizes="
                                (min-width: 1020px) 320px
                                (min-width: 768px) 50vw
                                100vw
                              " srcset="
                                https://assets.nhs.uk/nhsuk-cms/images/S_0917_progestogen-only-pill_C0087321.width-320.jpg 320w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0917_progestogen-only-pill_C0087321.width-510.jpg 510w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0917_progestogen-only-pill_C0087321.width-640.jpg 640w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0917_progestogen-only-pill_C0087321.width-767.jpg 767w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0917_progestogen-only-pill_C0087321.width-1019.jpg 1019w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0917_progestogen-only-pill_C0087321.width-1125.jpg 1125w,
                                https://assets.nhs.uk/nhsuk-cms/images/S_0917_progestogen-only-pill_C0087321.width-1534.jpg 1534w,
                              " alt="Progestogen-only pill">

                            <div class="nhsuk-u-visually-hidden" aria-hidden="true">
                              Credit: 
                            </div>
                            
                          </figure>
                          </section>
                     </section>

                    <section>
                        <h2>At a glance: facts about the progestogen-only pill</h2>
                        <ul>
                          <li>If taken correctly, it's more than 99% effective. This means fewer than 1 in 100 who uses the progestogen-only pill as contraception will get pregnant in 1 year.</li>
                          <li>With "typical use" of the progestogen-only pill (the way it's taken by a lot of women in real life), it's only about 91% effective.</li>
                          <li>You take a pill every day, with no break between packs of pills.</li>
                          <li>The progestogen-only pill can be used if you cannot use contraception that contains oestrogen.</li>
                          <li>You can take the progestogen-only pill if you're over 35 and you smoke.</li>
                          <li>You must take the progestogen-only pill at the same time each day. If you take it more than 3 hours late (traditional progestogen-only pill) – or 12 hours late (desogestrel pill) – it may not be effective.</li>
                          <li>If you're sick (vomit) or have severe diarrhoea, the progestogen-only pill may not work.</li>
                          <li>Some medicines may affect the progestogen-only pill's effectiveness – ask your doctor for details.</li>
                          <li>Your periods may stop or become lighter, irregular or more frequent.</li>
                          <li>Side effects may include spotty skin and breast tenderness – these should clear up within a few months.</li>
                          <li>You'll need to use condoms as well as the progestogen-only pill to be protected against sexually transmitted infections (STIs).</li>
                      </ul>
                    </section>

                    <section>
                        <h2>How to take the progestogen-only pill</h2>
                        <p>There are 2 different types of progestogen-only pill:</p>
                        <p>...</p>
                        <p>...</p>
                    </section>

                </div>
            </div>
        </article>


    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer">

        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Home</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Health A to Z</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Live Well</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Mental health</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Care and support</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Pregnancy</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS services</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Coronavirus (COVID-19)</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS App</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Find my NHS number</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Your health records</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About the NHS</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Healthcare abroad</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Contact us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Other NHS websites</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Profile editor login</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list nhsuk-footer__meta">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Our policies</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
          </li>
        </ul>
      </div>
      <div>
        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      </div>

    </div>
  </div>
</footer>
{% endblock %}

