{% extends 'layout.html' %}

{% block pageTitle %}
  Vaginal ring
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/conditions/",
      text: "Health A to Z"
    },
    {
      href: "../contraception",
      text: "Contraception"
    }
  ],
      href: "../methods-of-contraception",
      text: "Methods of contraception"
})
}}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">



        <article>
            <div class="nhsuk-grid-row">

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      
  <h1>
    <span role="text">
      Vaginal ring
    </span>
  </h1>
  
  <div class="nhsuk-grid-column-two-thirds">

    <section>
      <p>The vaginal ring (NuvaRing) is a small soft, plastic ring that you place inside your vagina.</p>
      <p>It releases a continuous dose of the hormones oestrogen and progestogen into the bloodstream to prevent pregnancy.</p>
    </section>

    <section>
        <figure class="nhsuk-image">
          <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/A_0917_vaginal-ring_CT3HCM.width-320.jpg" sizes="
              (min-width: 1020px) 320px
              (min-width: 768px) 50vw
              100vw
            " srcset="
              https://assets.nhs.uk/nhsuk-cms/images/A_0917_vaginal-ring_CT3HCM.width-320.jpg 320w,
              https://assets.nhs.uk/nhsuk-cms/images/A_0917_vaginal-ring_CT3HCM.width-510.jpg 510w,
              https://assets.nhs.uk/nhsuk-cms/images/A_0917_vaginal-ring_CT3HCM.width-640.jpg 640w,
              https://assets.nhs.uk/nhsuk-cms/images/A_0917_vaginal-ring_CT3HCM.width-767.jpg 767w,
              https://assets.nhs.uk/nhsuk-cms/images/A_0917_vaginal-ring_CT3HCM.width-1019.jpg 1019w,
              https://assets.nhs.uk/nhsuk-cms/images/A_0917_vaginal-ring_CT3HCM.width-1125.jpg 1125w,
              https://assets.nhs.uk/nhsuk-cms/images/A_0917_vaginal-ring_CT3HCM.width-1534.jpg 1534w,
            " alt="Vaginal ring. It looks like a round ring that's made of white plastic. It's shown against a pink background.">
          
          <div class="nhsuk-u-visually-hidden" aria-hidden="true">
            Credit: 
          </div>
        </figure>
      </section>


      <section>
        <h2>At a glance: facts about the vaginal ring</h2>
        <ul>
          <li>If used correctly, the vaginal ring is more than 99% effective.</li>
          <li>One ring provides contraception for a month, so you don't have to think about it every day.</li>
          <li>You can continue to have sex when the ring is in place.</li>
          <li>Unlike the pill, the ring still works if you have sickness (vomiting) or diarrhoea.</li>
          <li>The ring may ease premenstrual symptoms, and bleeding will probably be lighter and less painful.</li>
          <li>Some women have temporary side effects, including more vaginal discharge, breast tenderness and headaches.</li>
          <li>A few women develop a blood clot when using the ring, but this is rare.</li>
          <li>The ring can sometimes come out on its own, but you can rinse it in cold or warm water and put it back in as soon as possible.</li>
          <li>It doesn't protect against sexually transmitted infections (STIs), so you may need to use condoms as well.</li>
        </ul>
      </section>
  
      <section>
        <p>The vaginal ring (NuvaRing) is a small soft, plastic ring that you place inside your vagina.</p>
        <p>It releases a continuous dose of the hormones oestrogen and progestogen into the bloodstream to prevent pregnancy.</p>
      </section>
    
 
      <section>
        <h2>At a glance: facts about the vaginal ring</h2>
        <ul>
          <li>If used correctly, the vaginal ring is <b>more than 99%</b> effective.</li>
          <li>One ring provides contraception for a month, so you don't have to think about it every day.</li>
          <li>You can continue to have sex when the ring is in place.</li>
          <li>Unlike the pill, the ring still works if you have sickness (vomiting) or diarrhoea.</li>
          <li>The ring may ease premenstrual symptoms, and bleeding will probably be lighter and less painful.</li>
          <li>Some women have temporary side effects, including more vaginal discharge, breast tenderness and headaches.</li>
          <li>A few women develop a blood clot when using the ring, but this is rare.</li>
          <li>The ring can sometimes come out on its own, but you can rinse it in cold or warm water and put it back in as soon as possible.</li>
          <li>It doesn't protect against sexually transmitted infections (STIs), so you may need to use condoms as well.</li>
        </ul>
      </section>
    
    
      <section>
        <h2>How the ring works</h2>
        <p>The ring steadily releases the hormones oestrogen and progestogen into your bloodstream, which prevents the release of an egg each month.</p>
        <p>It also thickens the cervical mucus, which makes it more difficult for sperm to move through the cervix, and thins the lining of the womb so a fertilised egg is less likely to implant itself.</p>
        <h3>When it starts to work</h3>
        <p>You can start using the vaginal ring at any time during your menstrual cycle if you're not pregnant.</p>
        <p>The standard way to use the ring is you leave it in for 21 days, then remove it and have a 7-day ring-free break. You're protected against pregnancy during the ring-free break. After the 7-day break you then put a new ring in for another 21 days.</p>
        <p>You can also choose to have a shorter ring-free break or not to have a break at all. This is as safe and effective as the standard use. For more information on the different options talk to a GP or nurse.</p>
        <p>You'll be protected against pregnancy straight away if you insert it in the first 5 days of your period (the first 5 days of your menstrual cycle). Talk to a GP or nurse about whether you need additional contraception if you have a very short cycle or an irregular cycle.</p>
        <p>If you start using the ring at any other time in your menstrual cycle, you'll be protected against pregnancy as long as you use additional contraception (such as condoms) for the first 7 days of using it.</p>
        <p>If you are switching from another type of contraception (excluding condoms) or you have taken emergency contraception recently, the advice on when to start using the ring and how soon you'll be protected may be different.</p>
          <p>Talk to a GP or nurse about the best time to start using the ring and whether you need to use additional contraception. They can also give you advice on how to insert and remove it.</p>
          <h4>To insert the ring:</h4>
          <ul>
            <li>with clean hands, squeeze the ring between your thumb and finger, and gently insert the tip into your vagina</li>
            <li>gently push the ring up into your vagina until it feels comfortable</li>
          </ul>
          <p>Unlike a diaphragm or cap, the ring doesn't need to cover the entrance to your womb (the cervix) to work.</p>
            <p>Using your fingers, check regularly that the ring is still there. If you can't feel it but you're sure it's there, see a GP or nurse. The ring can't get "lost" inside you.</p>
            <p>After the ring has been in your vagina for 21 days (3 weeks), you remove it. This should be on the same day of the week that you put it in.</p>
            <h4>To remove the ring:</h4>
            <ul>
              <li>with clean hands, put a finger into your vagina and hook it around the edge of the ring</li>
              <li>gently pull the ring out</li>
              <li>put it in the bag provided and throw it in the bin - don't flush it down the toilet</li>
            </ul>
            <p>Removing the ring should be painless. If you have any bleeding or pain or you can't pull it out, see a GP or nurse immediately.</p>
            <p>When you've taken the ring out, you don't put a new one in for 7 days (1 week). This is the ring-free interval. You might have a period-type bleed during this time.</p>
            <p>After 7 days without a ring in, insert a new one. Put the new ring in even if you're still bleeding. Leave this ring in for 21 days, then repeat the cycle.</p>
            <p>You can have sex and use tampons while the ring is in your vagina. You and your partner may feel the ring during sex, but this isn't harmful.</p>
        </section>
    
   
        <section>
          <h2>If you forget to take the ring out after 21 days</h2>
          <p>If the ring has been in for <b>up to 7 days after the end of week 3</b> (up to 4 weeks in total):</p>
          <ul>
            <li>if you were planning to have a ring-free break, take the ring out and start the break</li>
            <li>if you were not planning to have a ring-free break, take out the ring and insert a new ring straight away</li>
            <li>you're still protected against pregnancy, and you don't need to use additional contraception</li>
          </ul>
          <p>If the ring has been in for <b>more than 7 days after the end of week 3</b> (more than 4 weeks in total):</p>
            <ul>
              <li>take the ring out and put a new one in straight away</li>
              <li>use additional contraception, such as condoms, for 7 days</li>
              <li>you may need emergency contraception if you've had sex in the days before changing the rings over - see a GP or nurse for advice</li></ul>
        </section>
    
    
        <section>
          <h2>If you forget to put a new ring in</h2>
          <p>Put in a new ring as soon as you remember, and use additional contraception (such as condoms) for 7 days.</p>
          <p>You may need <a href="/conditions/contraception/emergency-contraception/">emergency contraception</a> if you had sex before you remembered to put the new ring in, and the ring-free interval was 48 hours longer than it should have been or more (9 days or more in total).</p>
        </section>
    
    
        <section>
          <h2>If the ring comes out by itself</h2>
          <p>Sometimes the ring may come out on its own (expulsion). It may happen after or during sex, or if it wasn't put in properly.</p>
          <p>What you should do depends on how long the ring is out for, and which week of your cycle you're in.</p>
          <p>If the ring is out for less than 48 hours (regardless of where you are in your cycle) and you've been using that particular ring for 3 weeks or less:</p>
          <ul>
            <li>rinse it with cool or lukewarm water</li>
            <li>re-insert the same ring as soon as possible</li>
            <li>you don't need additional contraception and you're protected from pregnancy if the ring was used correctly in previous weeks</li>
          </ul>
          <p>If the ring is out for more than 48 hours in the <b>first week of using a ring:</b></p>
            <ul>
              <li>insert a new ring as soon as possible and keep it in until the scheduled removal day</li>
              <li>use additional contraception for 7 days</li>
              <li>you may need emergency contraception if you've had sex since putting in the new ring or during the ring-free break</li>
            </ul>
            <p>If the ring is out for more than 48 hours in the <b>second or third week of using a ring</b>:</p>
              <ul>
                <li>insert a new ring as soon as possible and keep it in until the scheduled removal day</li>
                <li>use additional contraception for 7 days</li>
                <li>if the ring came out in the third week and you are using the ring the standard way, skip the ring-free break</li>
                <li>you do not need emergency contraception if you have used the ring correctly in the previous 7 days</li>
              </ul>
        </section>
    
        <section>
          <h2>Who can use the vaginal ring?</h2>
          <p>Some women can't use the vaginal ring.</p>
          <p>It may not be suitable if you:</p>
          <ul>
            <li>have had a <a href="/conditions/deep-vein-thrombosis-dvt/">blood clot in a vein</a> or artery</li>
            <li>have had heart or circulatory problems, including <a href="/conditions/high-blood-pressure-hypertension/">high blood pressure</a></li>
            <li>are 35 or older and smoke, or stopped smoking in the past year</li>
            <li>have <a href="/conditions/migraine/">migraine</a> with aura (warning symptoms)</li>
            <li>have had <a href="/conditions/breast-cancer/">breast cancer</a> in the past 5 years</li>
            <li>have <a href="/conditions/diabetes/">diabetes</a> with complications</li>
            <li>are overweight</li>
            <li>take medicines that may interact with the ring</li>
            <li>can't hold the ring in your vagina</li>
          </ul>
            <p>If you don't smoke and there are no medical reasons why you can't use the ring, you can use it until you're 50 years old.</p>
            <h3>After giving birth</h3>
            <p>You can start using the vaginal ring 42 days after giving birth if you are breastfeeding. You will need to use additional contraception for 7 days (such as condoms).</p>
            <p>You may be able to start using the ring earlier than this - on day 21 after giving birth - if you're not breastfeeding, but your doctor will advise you. You do not then need to use additional contraception.</p>
            <p>You may become fertile again soon after giving birth. If you start using the ring more than 21 days after giving birth, you will need to use additional contraception (such as condoms) before you start using the ring.</p>
            <h3>After miscarriage or abortion</h3>
            <p>You can start using the ring immediately after a miscarriage or abortion, and it'll work straight away. You don't need to use additional contraception.</p>
            <p>If more than 5 days have passed since the miscarriage or abortion, you need to use additional contraception (such as condoms) for 7 days after you insert the ring.</p>
        </section>
    

        <section>
          <h2>Advantages and disadvantages</h2>
          <p>Advantages:</p>
          <ul>
            <li>it doesn't interrupt sex</li>
            <li>it's easy to put in and take out</li>
            <li>you don't have to think about it every day or each time you have sex</li>
            <li>the ring isn't affected if you're sick (vomit) or have diarrhoea</li>
            <li>it may help with premenstrual symptoms</li>
            <li>period-type bleeding usually becomes lighter, more regular and less painful</li>
          </ul>
          <p>Disadvantages:</p>
            <ul>
              <li>you may not feel comfortable inserting or removing it from your vagina</li>
              <li>you can have spotting and bleeding in the first few months</li>
              <li>it may cause temporary side effects, such as increased vaginal discharge, headaches, nausea, breast tenderness and mood changes</li>
              <li>the ring doesn't protect against STIs</li>
              <li>you need to remember to change it and put in a new one - if remembering to do this is difficult, a longer-acting method such as the <a href="/conditions/contraception/contraceptive-implant/">contraceptive implant</a> or <a href="/conditions/contraception/iud-coil/">intrauterine device (IUD)</a> may be more suitable</li>
              <li>some medicines can make the ring less effective - see a GP, nurse or pharmacist for advice</li>
              <li>it may take a while for you to return to normal fertility - in some women this may take up to a few months</li>
            </ul>
          </section>
    
    
          <section>
            <h2>Risks</h2>
            <p>There's a very small risk of some serious side effects when you use a hormonal contraceptive like the vaginal ring.</p>
            <p>For most women, the benefits of the ring outweigh the possible risks, but you should discuss all risk and benefits with a GP or nurse before you start it.</p>
            <h3>Blood clots</h3>
            <p>A very small number of people using the vaginal ring may develop a blood clot in a vein or an artery. Don't use the ring if you've had a blood clot before.</p>
            <h3>Cancer</h3>
            <p>Research suggests that people who use the vaginal ring have a small increased risk of being diagnosed with breast cancer compared with those who don't. But this reduces with time after you've stopped using the ring.</p>
            <p>Research also suggests there's a small increase in the risk of developing <a href="/conditions/cervical-cancer/">cervical cancer</a> with long-term use of oestrogen and progestogen hormonal contraception.</p>
          </section>
    
          <section>
            <h2>Where you can get the vaginal ring</h2>
            <p>You can get contraception for free, even if you're under 16, from:</p>
            <ul>
              <li>contraception clinics</li>
              <li>sexual health or genitourinary medicine (GUM) clinics</li>
              <li>some GP surgeries</li>
              <li>some young people's services</li>
            </ul>
            <p>But not all clinics are able to provide the vaginal ring, so it's worth checking first.</p>
            <p>You won't be able to get a prescription for more than 4 months' supply at a time because this is its shelf life.</p>
            <p><a href="https://www.nhs.uk/service-search/sexual-health/find-a-sexual-health-clinic">Find your nearest sexual health clinic</a></p>
          </section>
        

          <section>
            <h2>If you're under 16 years old</h2>
            <p>Contraception services are free and confidential, including for people under the age of 16.</p>
            <p>If you're under 16 and want contraception, the doctor, nurse or pharmacist won't tell your parents (or carer) as long as they believe you fully understand the information you're given, and the decisions you're making.</p>
            <p>Doctors and nurses work under strict guidelines when dealing with people under 16. They'll encourage you to consider telling your parents, but they won't make you.</p>
            <p>The only time a professional might want to tell someone else is if they believe you're at risk of harm, such as abuse.</p>
            <p>The risk would need to be serious, and they would usually discuss this with you first.</p>
          </section>
    
    
          <div>
            <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
                Page last reviewed: 6 July 2021
                <br>
                Next review due: 6 July 2024
            </p>
          </div>
    
    
        </div>


      </div>
    </article>


    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer">

        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Home</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Health A to Z</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Live Well</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Mental health</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Care and support</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Pregnancy</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS services</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Coronavirus (COVID-19)</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS App</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Find my NHS number</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Your health records</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About the NHS</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Healthcare abroad</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Contact us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Other NHS websites</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Profile editor login</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list nhsuk-footer__meta">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Our policies</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
          </li>
        </ul>
      </div>
      <div>
        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      </div>

    </div>
  </div>
</footer>
{% endblock %}

