{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Find pharmacy services
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a id="breadcrumb-link-0" class="nhsuk-breadcrumb__link" href="../../homepage">Home</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a id="breadcrumb-link-1" class="nhsuk-breadcrumb__link" href="../nhs-services">NHS services</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a id="breadcrumb-link-2" class="nhsuk-breadcrumb__link" href="../nhs-services/pharmacies"> Pharmacies</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="../nhs-services/pharmacies">
          <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
            Pharmacies
        </a>
      </p>
  </div>
</nav>
{% endblock %}


<!-- Main content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Heading and lede text -->
    <div class="nhsuk-u-reading-width">
      <h1>Find pharmacy services</h1>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <ul class="nhsuk-list">
          <li><a href="find-a-pharmacy">Find a pharmacy</a></li>
          <li><a href="">Find an internet pharmacy</a></li>
          <li><a href="">Find a dispensing contractor service</a></li>
          <li><a href="">Find a pharmacy that offers the NHS flu vaccine</a></li>
          <li><a href="">Find a pharmacy that offers free blood pressure checks</a></li>
          <li><a href="">Find a pharmacy that offers the contraceptive pill without a prescription</a></li>
          <li><a href="">Find a pharmacy that offers free COVID-19 rapid lateral flow tests</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>


{% endblock %}