{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Pharmacies
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a id="breadcrumb-link-0" class="nhsuk-breadcrumb__link" href="../../homepage">Home</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a id="breadcrumb-link-1" class="nhsuk-breadcrumb__link" href="../nhs-services">NHS services</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="../nhs-services">
          <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
          NHS services
        </a>
      </p>
  </div>
</nav>
{% endblock %}


<!-- Main content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Heading and lede text -->
    <div class="nhsuk-u-reading-width">
      <h1>Pharmacies</h1>
      <p class="nhsuk-lede-text">
        Find out how pharmacists can help with medicine and medical advice, and find your nearest pharmacy.
      </p>
    </div>

    <article>

      <div class="nhsuk-u-reading-width">
      
        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="../../service-search/find-a-pharmacy">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="36" width="36">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">Find a pharmacy</span>
          </a>
        </div>
      
      </div>    
    
      <section class="nhsuk-u-reading-width">
        <ul class="nhsuk-hub-key-links beta-hub-key-links">
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                How pharmacies can help
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Find a pharmacy that offers free COVID-19 rapid lateral flow tests
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Find a pharmacy that offers NHS flu vaccination 
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Book or manage a free NHS flu vaccination at a pharmacy 
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Find a pharmacy that offers free blood pressure checks 
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Find a pharmacy that offers the contraceptive pill without a prescription 
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Get help with newly prescribed medicines 
              </a>
            </li>

        </ul>
      </section>


      <div class="nhsuk-u-reading-width nhsuk-u-margin-top-6 nhsuk-hub-after-key-links">
      </div>


    </article>

  </div>
</div>


{% endblock %}