{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Give feedback about the NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}


<!-- Main content -->
{% block content %}
<div class="nhsuk-width-container">

  <!-- Go back link -->
  <div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="../give-feedback-about-the-nhs-website">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back
    </a>
  </div>
</div>

<!-- Main content -->
<main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="main-content">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form method="post" autocomplete="off" action="what-are-your-contact-details">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              What are your contact details?
            </h1>
          </legend>

          <div class="nhsuk-hint" id="name-hint">
            We'll only use your contact details to reply to you. View <a href="" target="_blank">the NHS website privacy policy (opens in new tab)</a> to find out what happens to your personal information.
          </div>

          <div class="nhsuk-form-group nhsuk-form-group nhsuk-u-margin-bottom-8" id="question_emailaddress">
            <label class="nhsuk-label" for="EmailAddress">Email address</label>
            <input class="nhsuk-input" type="text" id="EmailAddress" name="EmailAddress" value="">
          </div>

          <div class="nhsuk-form-group nhsuk-form-group nhsuk-u-margin-bottom-8" id="question_fullname">
            <label class="nhsuk-label" for="FullName">Full name (optional)</label>
            <input class="nhsuk-input" type="text" id="FullName" name="FullName" value="">
          </div>
        </fieldset>

        <button id="submit-button" type="submit" class="nhsuk-button" aria-live="polite">Continue</button>
      <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Itv0HaQf-ZIh4z2qDsFO3semZyyRsnS1s1pQuXZyQFZkKEB_dzW0OCYyVsDB5wKl9z55NoOi38ud2933vMbNra7Jw6unAYV6zTrqqW_1Kcitip79IkAYd6s1Wk0baE7QBZ0dR0ovaL7XcgbnLDU7vs"></form>
    </div>
  </div>
</main>


{% endblock %}