<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- some custom css padding for the mental health page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
 Acne - Complications - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      
      <li class="nhsuk-breadcrumb__item">
        <a href="../nhsuk-homepage" class="nhsuk-breadcrumb__link">Home</a>
      </li>
        
      <li class="nhsuk-breadcrumb__item">
        <a href="../../conditions" class="nhsuk-breadcrumb__link">Health A to Z</a>
      </li>
        
      <li class="nhsuk-breadcrumb__item">
        <a href="../acne" class="nhsuk-breadcrumb__link">Acne</a>
      </li>
        
    </ol>

    <p class="nhsuk-breadcrumb__back">
        
      <a href="../acne" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>
          Acne
      </a>
        
    </p>
  </div>
</nav>
{% endblock %}


<!-- GP surgeries near CR8 2AJ -->
{% block content %}

<div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper  nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
        
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      

<h1>
  <span role="text">Complications
    <span class="nhsuk-caption-xl nhsuk-caption--bottom">
      <span class="nhsuk-u-visually-hidden"> - </span>
      Acne
    </span>
  </span>
</h1>



<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
  <h2 class="nhsuk-u-visually-hidden">Contents</h2>
  <ol class="nhsuk-contents-list__list">
    
      
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="../acne">Overview</a>
        </li>

        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="causes">Causes</a>
        </li>

        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="diagnosis">Diagnosis</a>
        </li>

        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="treatment">Treatment</a>
        </li>

        <li class="nhsuk-contents-list__item" aria-current="page">
          <span class="nhsuk-contents-list__current">Complications</span>
        </li>
      
  </ol>
</nav>



    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        
  <section>
    <p data-block-key="8qfvc"><b>Acne scarring can sometimes develop as a complication of acne. Any type of acne spot can lead to scarring, but it's more common when the most serious types of spots (nodules and cysts)&nbsp;burst and&nbsp;damage nearby skin</b>.</p>
    <p data-block-key="nvns6"><a href="">Scarring</a>&nbsp;can also occur if you pick or squeeze your spots, so it's important not to do this.</p>
    <p data-block-key="yees8">There are 3 main types of acne scars:</p>
    <ul>
      <li data-block-key="nq8ij"><b>ice pick scars</b> – small, deep holes in the surface of your skin that look like the skin has been punctured with a sharp object</li>
      <li data-block-key="acqgt"><b>rolling scars</b> – caused by bands of scar tissue that form under the skin, giving the surface of the skin a rolling and uneven appearance</li>
      <li data-block-key="we1fl"><b>boxcar scars</b> – round or oval depressions, or craters, in the skin</li>
    </ul>
  </section>



  <section>

    <h2 data-block-key="gbn15">Treating acne scarring</h2>
    <p data-block-key="1s6eq">Treatments for acne scarring are regarded as a type of cosmetic surgery, which is not usually available on the NHS. However, in the past, exceptions have been made when it's been shown that acne scarring has caused serious psychological distress.</p>
    <p data-block-key="1c1lt">See your GP if you're considering having a <a href="/conditions/cosmetic-procedures/">cosmetic procedure</a>. They'll be able to discuss your options with you and advise you about the likelihood of having the procedure carried out on the NHS.</p>
    <p data-block-key="6zi5j">Many private clinics offer treatment for acne scarring. Prices can vary widely (from around £400 to&nbsp;more than&nbsp;£10,000) depending on the type of treatment needed.</p>
    <p data-block-key="i3r6p">The <a href="http://www.baaps.org.uk/patients/surgeons/">British Association of Aesthetic Plastic Surgeons</a> website has more information about private treatment available in your area.</p>
    <p data-block-key="qbmu0">It's important to have realistic expectations about what cosmetic treatment can achieve. While treatment can certainly improve the appearance of your scars, it cannot get rid of them completely.</p>
    <p data-block-key="nkr0y">Treatments for acne scarring include:</p>
    <h3 data-block-key="thomx">Dermabrasion</h3>
    <p data-block-key="z37k9">Dermabrasion involves removing the top layer of skin, either using lasers or a specially made wire brush.</p>
    <p data-block-key="eot9u">After the procedure, your skin will look red and sore for several months, but as it heals you should notice an improvement in the appearance of your scars.</p>
    <h3 data-block-key="4y1mq">Laser treatment</h3>
    <p data-block-key="rgycj">Laser treatment can be used to treat mild to moderate acne scarring. There are 2 types of laser treatment:</p>
    <ul>
      <li data-block-key="99isr"><b>ablative laser treatment</b> – where lasers are used to remove a small patch of skin around the scar to produce a new, smooth-looking area of skin</li>
      <li data-block-key="uudxy"><b>non-ablative laser treatment</b> – where lasers are used to stimulate the growth of new collagen (a type of protein found in skin), which helps to repair some of the damage caused by scarring, and improves the appearance</li>
    </ul>
    <h3 data-block-key="tif05">Punch techniques</h3>
      <p data-block-key="2ngt4">Punch techniques are used to treat ice pick scars and boxcar scars. There are 3 types of punch technique:</p>
      <ul>
        <li data-block-key="w0b5e"><b>punch excision</b>&nbsp;–&nbsp;used to treat mild ice pick scars. The scar is surgically removed and the remaining wound is sealed. After the wound heals, it leaves a smoother and more even area of skin</li>
        <li data-block-key="rqdev"><b>punch elevation</b>&nbsp;–&nbsp;used to treat boxcar scars. The base of the scar is surgically removed, leaving the sides of the scar in place. The base is then reattached to the sides, but lifted up so it's level with the surface of the skin. This makes the scar much less noticeable</li>
        <li data-block-key="t7oii"><b>punch grafting</b> –&nbsp;used to treat very deep ice pick scars. As with a punch excision, the scar is removed, but the wound is "plugged" with a sample of skin taken from elsewhere on the body (usually from the back of the ear)</li>
      </ul>
      <h3 data-block-key="xa9pk">Subcision</h3>
      <p data-block-key="gwlof">Subcision is a surgical treatment that can be used to treat rolling scars. During surgery, the upper layer of the skin is removed from the underlying scar tissue. This allows blood to pool under the affected area. The blood clot helps form connective tissue, which pushes up the rolling scar so it's level with the rest of the surface of the skin.</p>
        <p data-block-key="smiio">Once subscision has been completed, additional treatment, such as laser treatment and dermabrasion, can be used to further improve the appearance of the scar.</p>

  </section>




  <section>

    <h2 data-block-key="3vpy7">Depression</h2>
    <p data-block-key="eoocc">Acne can often cause intense feelings of anxiety and stress, which can sometimes make people with the condition become socially withdrawn. This combination of factors can lead to people with acne becoming <a href="/conditions/clinical-depression/">depressed</a>.</p>
    <p data-block-key="utifq">You may be depressed if during the last month you've often felt down, depressed or hopeless, and have little interest or pleasure in doing things.</p>
    <p data-block-key="s6rwu">If you think that you or your child may have depression, it's important to speak to your GP. They may be able to refer you to a mental health team for specialist support.</p>
    <p data-block-key="v577l">Treatments for depression include:</p>
    <ul>
      <li data-block-key="vh9rz">talking therapies such as&nbsp;<a href="/conditions/cognitive-behavioural-therapy-cbt/">cognitive behavioural therapy (CBT)</a></li>
      <li data-block-key="tuia8">a type of antidepressant called <a href="/conditions/ssri-antidepressants/">selective serotonin reuptake inhibitors (SSRIs)</a></li>
    </ul>
    <p data-block-key="z63h8">Read more about <a href="/conditions/clinical-depression/treatment/">treatment&nbsp;for depression</a>.</p>

  </section>






  <section>

    <h2 data-block-key="ixhkd">Support for acne</h2>
    <p data-block-key="ushak">The British Association of Dermatologists is a charity that runs <a href="https://www.acnesupport.org.uk/">Acne Support</a>. It gives advice about acne and includes a section about covering acne.</p>
    <p data-block-key="cei42">There are also a range of informally run message boards and blogs about acne on the web. You may find it supportive to read about other people's experience of living with acne.</p>
    <p data-block-key="4k5xd">For example,&nbsp;<a href="http://www.talkhealthpartnership.com/">talkhealth</a> provides a&nbsp;<a href="http://www.talkhealthpartnership.com/talkacne/">free acne support and information community</a>.</p>
    <h3 data-block-key="axhb4">Make-up</h3>
    <p data-block-key="fo30i">Make-up can help cover up scars and can be particularly useful for facial scars.</p>
    <p data-block-key="s3t7m">Camouflage make-up specially designed&nbsp;to cover up scars is available over the counter at pharmacies. You can also ask your GP for advice.</p>
    <p data-block-key="rubc7">If you're interested in learning more about covering a mark, scar, non-infectious skin condition or a tattoo, you can also visit the&nbsp;<a href="https://www.changingfaces.org.uk/services-support/skin-camouflage-service/what-is-skin-camouflage/">Changing Faces Skin Camouflage Service</a> or call 0300 012 0275.</p>

  </section>




<div>
  <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 03 January 2023<br>
    Next review due: 03 January 2026
  </p>
</div>



<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
  <ul class="nhsuk-list nhsuk-pagination__list">
    <li class="nhsuk-pagination-item--previous">
      <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="treatment">
        <span class="nhsuk-pagination__title">Previous</span>
        <span class="nhsuk-u-visually-hidden">:</span>
        <span class="nhsuk-pagination__page">Treatment</span>
        <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
          <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
        </svg>
      </a>
    </li>
  </ul>
</nav>




      </div>

      

    </div>
  </article>
  
      </main>
    </div>

{% endblock %}




<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
