{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Ways to become a parent if you're LGBT+
{% endblock %}

<!-- Breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
        <a id="breadcrumb-link-0" class="nhsuk-breadcrumb__link" href="../../homepage">Home</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a id="breadcrumb-link-1" class="nhsuk-breadcrumb__link" href="../../pregnancy">Pregnancy</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a id="breadcrumb-link-2" class="nhsuk-breadcrumb__link" href="../having-a-baby-if-you-are-lgbt-plus"> Having a baby if you're LGBT+</a>
      </li>
    </ol>

    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="../having-a-baby-if-you-are-lgbt-plus">
        <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
        Having a baby if you're LGBT+ 
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Main content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Heading and lede text -->
    <div class="nhsuk-u-reading-width">
      <h1>Ways to become a parent if you're LGBT+</h1>
    </div>

    <!-- Main article -->
    <article>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <section>
            <p>There are several ways you can become a parent if getting pregnant by having sex is not an option for you.</p>
              <p>Possible ways to become a parent include:</p>
                <ul>
                  <li>donor insemination</li>
                  <li>IUI (intrauterine insemination)</li>
                  <li>surrogacy</li>
                  <li>adoption or fostering</li>
                  <li>co-parenting</li>
                </ul>
              <p>There are also several ways that could help people with fertility problems have a baby, including <a href="">IVF (in vitro fertilisation)</a>.</p>
              <p>IUI and IVF can sometimes be done on the NHS. This depends on things like your age. Check with a GP or <a href="">local integrated care board (ICB)</a> to find out about what might be available to you.</p>
              <p>Surrogacy is not available on the NHS.</p>
              <p>All these options can be explored by anyone, including single people and same sex couples.</p>
          </section>

          <section>
            <h2>Donor insemination</h2>
            <p>Sperm is put inside the person getting pregnant. This can be done at home, with sperm from a licensed fertility clinic, a sperm bank or from someone you know.</p>
            <p>If you choose donor insemination, it’s better to go to a licensed fertility clinic where the sperm is checked for infections and some inherited conditions. Fertility clinics can also offer support and legal advice.</p>
            <p>If the sperm is not from a licensed fertility clinic, the person donating the sperm can get tested for sexually transmitted infections at a sexual health clinic.</p>
            <p>In the UK, the Human Fertilisation and Embryology Authority (HFEA) makes sure licensed fertility clinics run safely and legally.</p>
            <p>Find out more:</p>

            <ul>
              <li><a href="">HFEA: using donated eggs, sperm or embryos in treatment</a></li>
              <li><a href="">HFEA: home insemination with donor sperm</a></li>
              <li><a href="">HFEA: fertility clinic search</a></li>
            </ul>
          </section>

          <section>
            <h2>IUI (intrauterine insemination)</h2>
            <p>In <a href="">IUI (intrauterine insemination)</a> sperm is put in the womb of the person getting pregnant. This is done at a licensed fertility clinic. The sperm can be from someone you know or from a sperm bank.</p>
            <p>A licensed fertility clinic will check the sperm for sexually transmitted infections and inherited conditions.</p>
            <p><a href="">Find a licensed clinic with HFEA's fertility clinic search</a></p>
          </section>

          <section>
            <h2>Co-parenting</h2>
            <p>This is when 2 or more people team up to conceive and parent children together.</p>
            <p>As a co-parent, you will not have sole custody of the child. It’s advisable to get legal advice at an early stage of your planning.</p>
            <p>There are many details to think about, such as how you'll split financial costs.</p>
          </section>

          <section>
            <h2>Adoption or fostering</h2>
            <p>You can apply to adopt or foster through a local authority, or an adoption or foster agency. You do not have to live in the local authority you apply to, and you can be single.</p>
            <p>You’ll have to complete an assessment before adopting or fostering, with the help of a social worker and preparation training.</p>
            <p>Find out more:</p>
              <ul>
                <li><a href="">New Family Social: charity for LGBT+ adoptive and foster parents</a></li>
                <li><a href="">GOV.UK: child adoption</a></li>
                <li><a href="">GOV.UK: becoming a foster parent</a></li>
              </ul>
          </section>

          <section>
            <h2>Surrogacy</h2>
            <p>Surrogacy is when someone has a baby for people who cannot, or choose not to, get pregnant themselves.</p>
            <p>In the UK, either sperm or egg can be from a donor, but not both.</p>
            <p>Surrogacy is legal in the UK but it's illegal to advertise for surrogates, and the surrogate cannot be paid a fee.</p>
            <p>Find out more:</p>
              <ul>
                <li><a href="">GOV.UK: having a child through surrogacy</a></li>
                <li><a href="">GOV.UK: legal rights of parents and surrogates</a></li>
              </ul>
          </section>

          <section>
            <h2>Trans and non-binary parents</h2>
            <p>If you're thinking about starting treatment to physically change your body, or you've started treatment, you can read <a href="">information for trans and non-binary people seeking fertility treatment on the HFEA website</a>.</p>
          </section>

        </div>
      </div>
    </article>


    <aside class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
          <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
            <h2 class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-4">
              More in
                <a href="../having-a-baby-if-you-are-lgbt-plus">Having a baby if you're LGBT+</a>
            </h2>
            
            <nav role="navigation" class="beta-nhsuk-navigation-sideways">
              <ul class="beta-nhsuk-navigation-sideways__list">

                <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                  Ways to become a parent if you're LGBT+
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a class="app-related-nav__link" href="testosterone-and-pregnancy">
                    Testosterone and pregnancy
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a class="app-related-nav__link" href="chestfeeding-if-youre-trans-or-non-binary">
                    Chestfeeding if you're trans or non-binary
                  </a>
                </li>

              </ul>
            </nav>
          </div>
      </div>
    </aside>

    <div>
      <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
        Page last reviewed: 15 June 2023
        <br>
        Next review due: 15 June 2026
      </p>
    </div>

  </div>
</div>

{% endblock %}