{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Trying for a baby
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a id="breadcrumb-link-0" class="nhsuk-breadcrumb__link" href="../../homepage">Home</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a id="breadcrumb-link-1" class="nhsuk-breadcrumb__link" href="../Pregnancy">Pregnancy</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="../Pregnancy">
          <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
          Pregnancy
        </a>
      </p>
  </div>
</nav>
{% endblock %}


<!-- Main content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Heading and lede text -->
    <div class="nhsuk-u-reading-width">
      <h1>Trying for a baby</h1>
      <p class="nhsuk-lede-text">
        Advice about trying for a baby, including planning a pregnancy and LGBT+ routes into parenthood.
      </p>
    </div>

    <article>

      <section class="nhsuk-u-reading-width">
        <ul class="nhsuk-hub-key-links beta-hub-key-links">
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Trying to get pregnant
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Getting pregnant if you have a mental health condition
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Planning your pregnancy
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Doing a pregnancy test
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Signs and symptoms of pregnancy
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                How long does it usually take to get pregnant?
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Planning another pregnancy
              </a>
            </li>

        </ul>
      </section>


      <div class="nhsuk-u-reading-width nhsuk-u-margin-top-6 nhsuk-hub-after-key-links">
      </div>


    </article>

  </div>
</div>


{% endblock %}