<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Contraception
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->



{% block beforeContent %}
  {{ breadcrumb({
  items: [
    {
      href: "http://localhost:3000/nhsuk-homepage",
      text: "Home"
    }
  ]

}) }}
{% endblock %}


{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

                <div class="nhsuk-u-reading-width">
                    <h1>Contraception</h1>
                    <p class="nhsuk-lede-text">
                      Find out about different types of contraception, including where to get them and how well they work at preventing pregnancy
                    </p>
                </div>


                <article>

                  <ul class="nhsuk-grid-row nhsuk-card-group">

                    <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
                      <div class="nhsuk-card nhsuk-card--clickable ">
                          <div class="nhsuk-card__content beta-card__content">
                              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                  <a class="nhsuk-card__link" href="contraception/methods-of-contraception">
                                    Methods of contraception                                      
                                  </a>
                              </h2>
                              <div class="nhsuk-card__description"><p>Find out about different methods of contraception</p></div>

                              <div class="beta-hub-arrow">
                                  <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333"></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
                              </div>

                          </div>
                      </div>
                    </li>

                    

                    <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
                      <div class="nhsuk-card nhsuk-card--clickable ">
                          <div class="nhsuk-card__content beta-card__content">
                              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                  <a class="nhsuk-card__link" href="contraception/choosing-a-method-of-contraception">
                                    Choosing a method of contraception
                                  </a>
                              </h2>
                              <div class="nhsuk-card__description"><p>Things to think about, including how to use each type, side effects and how well it works</p></div>

                              <div class="beta-hub-arrow">
                                  <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333"></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
                              </div>

                          </div>
                      </div>
                  </li>



                    <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
                        <div class="nhsuk-card nhsuk-card--clickable ">
                            <div class="nhsuk-card__content beta-card__content">
                                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                    <a class="nhsuk-card__link" href="contraception/emergency-contraception">
                                      Emergency contraception       
                                    </a>
                                </h2>
                                <div class="nhsuk-card__description"><p>Where to get the emergency pill (morning after pill) or IUD</p></div>

                                <div class="beta-hub-arrow">
                                    <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333"></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
                      <div class="nhsuk-card nhsuk-card--clickable ">
                          <div class="nhsuk-card__content beta-card__content">
                              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                  <a class="nhsuk-card__link" href="contraception/where-to-get-contraception">
                                    Where to get contraception
                                  </a>
                              </h2>
                              <div class="nhsuk-card__description"><p>Find out where to get all methods of contraception</p></div>

                              <div class="beta-hub-arrow">
                                  <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333"></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
                              </div>

                          </div>
                      </div>
                  </li>


                  </ul>

                </article>

            </div>
        </div>



    </main>
</div>
    {% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer">

        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Home</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Health A to Z</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Live Well</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Mental health</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Care and support</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Pregnancy</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS services</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Coronavirus (COVID-19)</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS App</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Find my NHS number</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Your health records</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About the NHS</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Healthcare abroad</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Contact us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Other NHS websites</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Profile editor login</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list nhsuk-footer__meta">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Our policies</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
          </li>
        </ul>
      </div>
      <div>
        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      </div>

    </div>
  </div>
</footer>
{% endblock %}