<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype for designers
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHS.UK prototype for designers
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version {{version}}</span>
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        This prototype can be used to mock up NHS.uk pages. It contains various templates and content page examples which can be used to generate other similar type pages.
      </p>

      <hr>

      <h2>Home pages</h2>
      <p>
        <ul>
          <li><a href="homepage">Home page</a></li></p>
        </ul>

      <hr>    

      <h2>Health A-Z</h2>
      <ul>
        <li><a href="conditions">Health A-Z</a> (A-Z)</li>
          <ul>
            <li><a href="conditions/abdominal-aortic-aneurysm">Abdominal aortic aneurysm</a></li>

            <br>
            <li><a href="conditions/menopause">Menopause: Overview</a></li>
            <li><a href="conditions/menopause/symptoms">Menopause: Symptoms</a></li>
            <li><a href="conditions/menopause/things-you-can-do">Menopause: Things you can do</a></li>
            <li><a href="conditions/menopause/treatment">Menopause: Treatment</a></li>
            <li><a href="conditions/menopause/help-and-support">Menopause: Help and support</a></li>
          </ul>
      </ul>

      <hr>

      <h2>Live well</h2>
      <ul>
        <li><a href="live-well">Live well</a> (Hub)</li>
          <ul>
            <li><a href="live-well/exercise">Excercise</a> (Sideways Navigation)</li>
              <ul>
                <li><a href="live-well/exercise/physical-activity-guidelines-for-adults-aged-19-to-64">Physical activity guidelines for adults aged 19 to 64</a></li>
                <li><a href="live-well/exercise/physical-activity-guidelines-older-adults">Physical activity guidelines for older adults</a></li>
                <li><a href="live-well/exercise/physical-activity-guidelines-children-and-young-people">Physical activity guidelines for children and young people</a></li>
                <li><a href="live-well/exercise/physical-activity-guidelines-children-under-five-years">Physical activity guidelines for children (under 5 years)</a></li>
                <li><a href="live-well/exercise/wheelchair-users-fitness-advice">Fitness advice for wheelchair users</a></li>
              </ul>
          </ul>
      </ul>

      <hr>

      <h2>Mental health</h2>
      <ul>
        <li><a href="mental-health">Mental health</a> (Hub)</li>
          <ul>
            <li><a href="mental-health/feelings-symptoms-behaviours">Feelings, symptoms and behaviours</a></li>
            <li><a href="mental-health/conditions">Mental health conditions</a></li>
          </ul>
      </ul>

      <hr>

      <h2>Care and support</h2>
      <ul>
        <li><a href="conditions/social-care-and-support-guide">Social care and support guide</a> (Hub)</li>
      </ul>

      <hr>

      <h2>Pregnancy</h2>
      <ul>
        <li><a href="pregnancy">Pregnancy</a> (Hub)</li>
        <ul>
          <li><a href="pregnancy/trying-for-a-baby">Trying for a baby</a></li>
          <li><a href="pregnancy/having-a-baby-if-you-are-lgbt-plus">Having a baby if you  are LGBT+</a>
            <ul>
              <li><a href="pregnancy/having-a-baby-if-you-are-lgbt-plus/ways-to-become-a-parent-if-you-are-lgbt-plus">Ways to become a parent if you're LGBT+</a></li>
              <li><a href="pregnancy/having-a-baby-if-you-are-lgbt-plus/testosterone-and-pregnancy">Testosterone and pregnancy</a></li>
              <li><a href="pregnancy/having-a-baby-if-you-are-lgbt-plus//chestfeeding-if-youre-trans-or-non-binary">Chestfeeding if you're trans or non-binary</a></li>
            </ul>
          </li>
        </ul>
      </ul>

      <hr>

      <h2>NHS services</h2>
      <ul>
        <li><a href="nhs-services">NHS services</a> (Hub)</li>
          <ul>
            <li><a href="nhs-services/gps">GPs</a>            </li>
              <ul>
                <li><a href="service-search/find-a-gp">Find a GP</a></li>
                <li><a href="service-search/find-a-gp/results/w1b2ae">GP surgeries near W1B 2AE</a></li>
              </ul>

          </ul>

          <ul>
            <li><a href="nhs-services/pharmacies">Pharmacy</a></li>
              <ul>
                <li><a href="service-search/find-a-pharmacy">Find a pharmacy</a></li>
                <li><a href="service-search/find-a-pharmacy/results/w1b2ae">GP surgeries near W1B 2AE</a></li>
              </ul>
          </ul>

        <br>
        <li><a href="nhs-services/online-services/find-nhs-number">Find NHS Number</a></li>
      </ul>


      <hr>


      <h2>Other</h2>

      <ul>
        <h3>Search</h3>
        <ul>
          <li><a href="search/no-results-found">Search - no results</a></li>
          <li><a href="search/results?q=hospital">Search results for hospital</a></li>
        </ul>

        <h3>Contact the NHS website</h3>
        <ul>
          <li><a href="give-feedback-about-the-nhs-website">Give feedback about the NHS website</a></li>
          <li><a href="contact-nhs-website/what-are-your-contact-details">What are your contact details?</a></li>
          <li><a href="contact-nhs-website/what-are-you-contacting-about">Tell us why you are contacting the NHS website team</a></li>
          <li><a href="contact-nhs-website/check-your-answers">Check your answers</a></li>
        </ul>

        <h3>Mixed</h3>
        <ul>
          <li><a href="nhs-app">NHS App</a></li>
          <li><a href="nhs-app/account">My account</a></li>
        </ul>
      </ul>



      <p>Get started by using the:</p>

      <ul>
        <li>
          <a href="/docs/how-tos">how to guides</a>
        </li>
        <li>
          <a href="/docs/page-templates">page templates</a>
        </li>
        <li>
          code snippets for styles and components from the <a href="https://service-manual.nhs.uk/design-system">NHS digital service manual</a>
        </li>

        
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
