{% extends 'layout.html' %}

<!-- some custom css padding for the mental health page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

{% block pageTitle %}
  GP surgeries near CR8 2AJ
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->
{% block header %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link" href="/" aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
        </svg>
      </a>
    </div>
    <div class="nhsuk-header__content" id="content-header">
      <div class="nhsuk-header__menu">
        <button class="nhsuk-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-expanded="false">Menu</button>
      </div>
      <div class="nhsuk-header__search">
        <div class="nhsuk-header__search-wrap beta-header__search-wrap js-show" id="wrap-search">
          <form class="nhsuk-header__search-form beta-header__search-form" id="search" action="https://www.nhs.uk/search/" method="get" role="search">
            <label class="nhsuk-u-visually-hidden" for="search-field">Search the NHS website</label>
            <div class="autocomplete-container" id="autocomplete-container"></div>
            <input class="nhsuk-search__input" id="search-field" name="q" type="search" placeholder="Search" autocomplete="off" >
            <button class="nhsuk-search__submit beta-search__submit" type="submit">
              <svg class="nhsuk-icon nhsuk-icon__search beta-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
              </svg>
              <span class="nhsuk-u-visually-hidden">Search</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <nav class="nhsuk-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
    <div class="nhsuk-width-container">
      <p class="nhsuk-header__navigation-title"><span id="label-navigation">Menu</span>
        <button class="nhsuk-header__navigation-close" id="close-menu">
          <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
          </svg>
          <span class="nhsuk-u-visually-hidden">Close menu</span>
        </button>
      </p>
      <ul class="nhsuk-header__navigation-list">
        <li class="nhsuk-header__navigation-item nhsuk-header__navigation-item--for-mobile">
          <a class="nhsuk-header__navigation-link" href="">
            Home
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="">
            Health A-Z
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="">
            Live Well
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="">
            Mental health
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="">
            Care and support
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="">
            Pregnancy
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="">
            NHS services
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner 
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->



<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumbs" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
      <ol id="breadcrumb_list" class="nhsuk-breadcrumbs__list">
              <li class="nhsuk-breadcrumbs__list-item">
                  <a id="breadcrumb-link-0" class="nhsuk-breadcrumbs__link" href="/">Home</a>
              </li>
              <li class="nhsuk-breadcrumbs__list-item">
                  <a id="breadcrumb-link-1" class="nhsuk-breadcrumbs__link" href="/nhs-services">NHS services</a>
              </li>
              <li class="nhsuk-breadcrumbs__list-item">
                  <a id="breadcrumb-link-2" class="nhsuk-breadcrumbs__link" href="/nhs-services/gps">GPs</a>
              </li>
              <li class="nhsuk-breadcrumbs__list-item">
                  <a id="breadcrumb-link-3" class="nhsuk-breadcrumbs__link" href="/service-search/find-a-gp">Find a GP</a>
              </li>
      </ol>
  </div>
</nav>
{% endblock %}


<!-- GP surgeries near CR8 2AJ -->
{% block content %}

<div class="nhsuk-back-link display-in-nhsapp" style="display:none">
  <a id="nhsapp-back-link" class="nhsuk-back-link__link" href="javascript:history.back()">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back
  </a>
</div>

<main class="nhsuk-main-wrapper--s" id="main-content">
      <div class="nhsuk-back-link display-in-nhsapp" style="display:none">
    <a id="nhsapp-back-link" class="nhsuk-back-link__link" href="javascript:history.back()">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back
    </a>
</div>


      <div class="nhsuk-grid-row">




<div class="nhsuk-grid-column-two-thirds">
    
<div class="nhsuk-u-margin-bottom-7">
    <h1 id="page-heading">
        <span class="nhsuk-caption-xl">
            Purley War Memorial Hospital
        </span>
        Overview
    </h1>
</div>

    
<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this profile">
    <h2 class="nhsuk-u-visually-hidden">Contents</h2>
    <ol class="nhsuk-contents-list__list">
                <li id="quick_link_list_item_overview" class="nhsuk-contents-list__item" aria-current="page"><span id="quick_link_current_page_overview" class="nhsuk-contents-list__current">Overview</span></li>
                <li id="quick_link_list_item_hospital_departments_and_services" class="nhsuk-contents-list__item">
                    <a id="quick_link_href_departments_and_services" class="nhsuk-contents-list__link" href="/services/hospital/purley-war-memorial-hospital/RJ613/departments-and-services">Departments and services</a>

                </li>
                <li id="quick_link_list_item_hospital_facilities" class="nhsuk-contents-list__item">
                    <a id="quick_link_href_facilities" class="nhsuk-contents-list__link" href="/services/hospital/purley-war-memorial-hospital/RJ613/facilities">Facilities</a>

                </li>
                <li id="quick_link_list_item_ratings_reviews" class="nhsuk-contents-list__item">
                    <a id="quick_link_href_ratings_reviews" class="nhsuk-contents-list__link" href="/services/hospital/purley-war-memorial-hospital/RJ613/ratings-and-reviews">Ratings and reviews</a>

                </li>
                <li id="quick_link_list_item_leave_review" class="nhsuk-contents-list__item">
                    <a id="quick_link_href_leave_review" class="nhsuk-contents-list__link" href="/services/hospital/purley-war-memorial-hospital/RJ613/leave-a-review">Leave a review</a>

                </li>
    </ol>
</nav>

</div>
<div class="nhsuk-grid-column-full">
    
  <h2 id="contact_header">Contact us</h2>
  <ul class="nhsuk-grid-row nhsuk-card-group">
          <li id="contactdetails_addressinfo_card_wrapper" class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                
<div id="address_panel"> 
  <h3 id="address_panel_title">Address</h3>
  <address id="address_panel_address">
856 Brighton Road<br>
856 Brighton Road<br>
Purley<br>
Surrey<br>
CR8 2YL  </address>
  <p id="address_panel_google_map_text">
    <a id="address_panel_google_map_link" rel="noopener noreferrer external" href="https://www.google.com/maps/search/Purley+War+Memorial+Hospital+856+Brighton+Road+856+Brighton+Road++Purley+Surrey+CR8+2YL/@51.34074020385742,-0.11445121467113496,17z">
      Get directions (opens in Google Maps)
    </a>
  </p>
</div>
              </div>
            </div>
          </li>

        <li id="contactdetails_contactinfo_card_wrapper" class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                  
  <div id="contact_info_panel">

        <h3 id="contact_info_panel_phone_title">Phone</h3>
          <p id="contact_info_panel_phone_text">020 8401 3515</p>

      <h3 id="contact_info_panel_online_title">Online</h3>
        <p id="contact_info_panel_website_text" class="nhsuk-u-margin-bottom-2">
          <a id="contact_info_panel_website_link" rel="noopener noreferrer external" href="http://www.croydonhealthservices.nhs.uk">Visit Hospital website</a>
        </p>

  </div>

              </div>
          </div>
        </li>
  </ul>

</div>
<div class="nhsuk-grid-column-two-thirds">
    
<div class="nhsuk-action-link nhsuk-u-margin-bottom-8">
    <a id="find_another_org_link_url" class="nhsuk-action-link__link" href="/service-search/hospital">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Find another hospital</span>
    </a>
</div>

        
<h2 id="cqc-rating-heading">Care Quality Commission inspection rating</h2>
<p>The Care Quality Commission (CQC) is the independent regulator of health and social care in England. It monitors and inspects services, to make sure they are safe, effective and provide high-quality care.</p>
<div class="nhsuk-card">
	<div class="cqc-rating-card">
    <div class="cqc-rating-description">
        <p id="cqc-rating-rated-as-content">CQC rating: <span class="nhsuk-u-font-weight-bold">no rating</span></p>
	     <p>
		    <a id="cqc-rating-profile-link" href="http://www.cqc.org.uk/location/RJ613">For more information, visit the CQC website</a>
	     </p>
    </div>
		<div class="cqc-rating">
			<p class="nhsuk-u-margin-bottom-2">The CQC rating scale is:</p>
			<ol id="cqc-rating-list" class="nhsuk-list nhsuk-u-margin-bottom-0">
				<li id="cqc-rating-list-item-outstanding" class="cqc-rating--list-list-item ">
					<span class="cqc-rating--indicator cqc-rating--indicator-green" aria-hidden="true">
						<svg class="icon icon--star" width="24px" height="24px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
							<defs>
								<path d="M22,9.24 L14.81,8.62 L12,2 L9.19,8.63 L2,9.24 L7.46,13.97 L5.82,21 L12,17.27 L18.18,21 L16.55,13.97 L22,9.24 L22,9.24 Z M12,15.4 L8.24,17.67 L9.24,13.39 L5.92,10.51 L10.3,10.13 L12,6.1 L13.71,10.14 L18.09,10.52 L14.77,13.4 L15.77,17.68 L12,15.4 L12,15.4 Z" id="path-uf98z-qjsj-1--1301892244"></path>
								<rect id="path-uf98z-qjsj-3--495238114" x="0" y="0" width="50" height="50"></rect>
							</defs>
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<g>
									<g transform="translate(3.000000, 3.000000)">
										<mask id="mask-uf98z-qjsj-2--1301892244" fill="white">
											<use xlink:href="#path-uf98z-qjsj-1--1301892244"></use>
										</mask>
										<g mask="url(#mask-uf98z-qjsj-2--1301892244)">
											<g transform="translate(-13.000000, -13.000000)">
												<mask fill="white">
													<use xlink:href="#path-uf98z-qjsj-3--495238114"></use>
												</mask>
												<use fill="#FFFFFF" xlink:href="#path-uf98z-qjsj-3--495238114"></use>
											</g>
										</g>
									</g>
								</g>
							</g>
						</svg>
					</span>
					Outstanding
				</li>
				<li id="cqc-rating-list-item-good" class=" cqc-rating--list-list-item ">
					<span class="cqc-rating--indicator cqc-rating--indicator-green" aria-hidden="true"></span>
					Good
				</li>
				<li id="cqc-rating-list-item-requires-improvement" class=" cqc-rating--list-list-item ">
					<span class="cqc-rating--indicator cqc-rating--indicator-amber" aria-hidden="true"></span>
					Requires improvement
				</li>
				<li id="cqc-rating-list-item-inadequate" class=" cqc-rating--list-list-item ">
					<span class="cqc-rating--indicator cqc-rating--indicator-red" aria-hidden="true"></span>
					Inadequate
				 </li>
							<li id="cqc-rating-list-item-no-rating" class="cqc-rating--list-list-item cqc-rating-active">
								<span class="cqc-rating--indicator cqc-rating--indicator-grey" aria-hidden="true"></span>
									No rating
									<span class="nhsuk-u-visually-hidden"> - this is the CQC rating</span>
							</li>
				</ol>
		</div>
	</div>
</div>
    
        
<h2 id="pals_heading">Patient Advice and Liaison Service (PALS)</h2>
<p>The Patient Advice and Liaison Service (PALS) offers confidential advice, support and information on health-related matters, for patients, their families and their carers.</p>
<p><a id="learn_more_about_pals_link" href="https://www.nhs.uk/nhs-services/hospitals/what-is-pals-patient-advice-and-liaison-service/">Learn more about PALS</a></p>
<p>To contact PALS at this hospital:</p>
<ul id="pals_contact_details_list" class="nhsuk-list nhsuk-list--bullet">
        <li id="pals_telephone_details">phone 020 8401 3210</li>
    
        <li id="pals_email_details">email <a href="mailto:ch-tr.pals@nhs.net">ch-tr.pals@nhs.net</a></li>
</ul>

    
    <div class="report-an-issue">
        <p>
            <a id="report_an_issue_on_page_link" href="/contact-us/nhs-website-info-quality?PageTitle=Overview&amp;Address=856+Brighton+Road%2c+856+Brighton+Road%2c+Purley%2c+Surrey%2c+CR8+2YL&amp;Name=Purley+War+Memorial+Hospital">
                Report an issue with the information on this page
            </a>
        </p>


    </div>


    
    <p id="info_supplied_by_text">
        Information supplied by <a id="info_supplied_by_link" href="/services/trust/croydon-health-services-nhs-trust/RJ6">Croydon Health Services NHS Trust</a>
    </p>

</div>

      </div>
    </main>

{% endblock %}


<!-- NHS.UK footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
