{% extends 'layout.html' %}

{% block pageTitle %}
  How to take the progestogen-only pill (mini pill)
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/conditions/",
      text: "Health A to Z"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    },
    {
      href: "../../methods-of-contraception",
      text: "Methods of contraception"
    }
  ],
      href: "../progestogen-only-pill",
      text: "Progestogen-only pill (mini pill)"
})
}}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h1>
              <span role="text">
                How to take the progestogen-only pill (mini pill)
              </span>
            </h1>
          </div>
        </div>

       

        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">

                  <section>
                    <h2 id="dosage-and-administration">When to take your progestogen-only pill</h2>
              
                    <p data-block-key="3l1ap">You need to take the progestogen-only pill (or mini pill) at around the same time every day for it to work properly.</p>
                    <p data-block-key="4anqs">There are 28 pills in a pack of mini pills. When you finish a pack, you start a new pack the next day. Do not take a break between packs.</p>
                    <p data-block-key="a14re">There are 2 types of progestogen-only pill:</p>
                    <ul>
                      <li data-block-key="fd72q">traditional mini pill</li>
                      <li data-block-key="4emag">desogestrel mini pill</li>
                    </ul>
                    <p data-block-key="bfeqm">Whichever type you have, it's important to take 1 pill at the same time every day.</p>
                      <h3 data-block-key="e4nkc">Traditional mini pill</h3>
                      <p data-block-key="578kq">If you forget to take your pill at the usual time, you can take it within 3 hours and still be protected against pregnancy.</p>
                      <p data-block-key="3d1fg">For example, if you usually take your pill at 8am but you forget, make sure you take it by 11am that day.</p>
                      <h3 data-block-key="3sgm1">Desogestrel mini pill</h3>
                      <p data-block-key="ft73e">If you forget to take your pill at the usual time, you can take it within 12 hours and still be protected against pregnancy.</p>
                      <p data-block-key="b6jnd">For example, if you usually take your pill at 8am but you forget, make sure you take it by 8pm that day.</p>
         
              <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p data-block-key="y04bv">For more information about how to take the mini pill, check the leaflet that comes with it, or speak to a doctor, nurse or pharmacist.</p>
              </div>
      
                  </section>

                  <section>
                    <h2 data-block-key="3l1ap">Starting the progestogen-only pill</h2>
                    <p data-block-key="7v03p">If you're taking the mini pill for the first time, you can normally start taking it at any point in your menstrual cycle. The advice may be different if you have a short menstrual cycle (less than 24 days).</p>
                    <p data-block-key="81q36">Speak to a doctor or nurse if you're not sure when to start taking the mini pill.</p>
                    <h3 data-block-key="fiebm">Starting on day 1 to 5 of your cycle</h3>
                    <p data-block-key="5dtka">If you start the mini pill on day 1 to 5 of your menstrual cycle (day 1 is the first day of your period), you'll be protected from pregnancy straight away.</p>
                    <p data-block-key="9ujbu">You do not need to use extra contraception such as condoms.</p>
                    <h3 data-block-key="27v6u">Starting after day 5 of your cycle</h3>
                    <p data-block-key="b6bae">If you start the mini pill after day 5 of your cycle (more than 5 days after the start of your period), you will not be protected from pregnancy straight away.</p>
                    <p data-block-key="duls0">It's possible to get pregnant from day 5 of your cycle, so you need to use extra contraception such as condoms. Keep using them until you have taken the mini pill for 7 days.</p>
                  </section>


                  <section>
                    <h2 id="effectiveness">How well does the progestogen-only pill work?</h2>

                  <p data-block-key="3l1ap">The progestogen-only pill (or mini pill) is more than 99% effective.</p>
                  <p data-block-key="9f07h">When taking it correctly, less than 1 in 100 women will get pregnant in a year.</p>
                  <p data-block-key="df5bh">If not taking the mini pill correctly, 9 in 100 women will get pregnant. This is because mistakes can happen in real life. You might forget to take your pills or take them at the wrong time of day.</p>
    
                  </section>

                  <section>

                    <h2 data-block-key="3l1ap">How to change to a different pill</h2>
                    <p data-block-key="uqvu">If you want to change your contraceptive pill, ask a doctor or nurse at your GP surgery or sexual health clinic for advice, or speak to a pharmacist.</p>
                    <p data-block-key="h3mb">You'll usually need to start the new pill immediately.</p>
                    <p data-block-key="8kgi">You may need to use additional contraception such as condoms for 7 days, to give the new pill time to start working.</p>
                  
                
                <div class="nhsuk-inset-text">
                  <span class="nhsuk-u-visually-hidden">Information: </span>
                  <p data-block-key="h8jhs">For advice about other types of contraception, speak to a doctor, nurse or pharmacist, or read about methods of contraception.</p>
                </div>
                
                  </section>


                </div>
            </div>
        </article>

        <aside class="nhsuk-grid-column">
          <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
            <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
              More in
                <a href="../progestogen-only-pill">Progestogen-only pill (mini pill)</a>
            </h2>

            <nav role="navigation" class="beta-nhsuk-navigation-sideways">
              <ul class="beta-nhsuk-navigation-sideways__list">
                  
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-is-the-progestogen-only-pill">
                    What is the progestogen-only pill?
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="where-to-get-the-progestogen-only-pill">
                    Where to get it
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="who-can-take-the-progestogen-only-pill">
                    Who can take it
                  </a>
                </li>
       
                <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                  How to take it
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="side-effects-of-the-progestogen-only-pill">
                    Side effects
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="taking-the-progestogen-only-pill-with-other-medicines">
                    Taking it with other medicines
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-to-do-if-you-miss-a-progestogen-only-pill-mini-pill">
                    If you've missed a pill
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-to-do-if-you-take-an-extra-progestogen-only-pill-mini-pill">
                    If you take an extra pill
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-to-do-if-youre-sick-or-have-diarrhoea-when-taking-the-progestogen-only-pill-mini-pill">
                    If you're sick or have diarrhoea
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="taking-the-progestogen-only-pill-mini-pill-after-having-a-baby">
                    Taking it after having a baby
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="taking-the-progestogen-only-pill-mini-pill-after-a-miscarriage-or-abortion">
                    Taking it after a miscarriage or abortion
                  </a>
                </li>
                
              </ul>
            </nav>
          </div>
        </aside>

        <div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
            Page last reviewed: 2 February 2021
            <br>
            Next review due: 2 February 2024
          </p>
        </div>


    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{{
 footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Profile editor login"
      },
      {
        "URL": "#",
        "label": "Site map"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "#",
        "label": "Cookies"
      }
    ]
  })
}}
{% endblock %}

