{% extends 'layout.html' %}

{% block pageTitle %}
  What to do if you miss a progestogen-only pill (mini pill)
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/conditions/",
      text: "Health A to Z"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    },
    {
      href: "../../methods-of-contraception",
      text: "Methods of contraception"
    }
  ],
      href: "../progestogen-only-pill",
      text: "Progestogen-only pill (mini pill)"
})
}}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h1>
              <span role="text">
                What to do if you miss a progestogen-only pill (mini pill)
              </span>
            </h1>
          </div>
        </div>

       

        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">


                  <section>
                    <p data-block-key="dn36v">It depends on how much time has passed, and whether you take a traditional mini pill or a desogestrel mini pill.</p>
                    <p data-block-key="e4v93">If you're not sure, check the pack to see if your pills contain desogestrel, a type of progestogen.</p>
                    
                    <h2 data-block-key="ev8n5">Less than 3 hours (traditional) or 12 hours (desogestrel) late</h2>
                    <p data-block-key="5loki">If it's less than 3 hours after the time you usually take your mini pill (or less than 12 hours for desogestrel mini pills):</p>
                    <ul>
                      <li data-block-key="cq7la">take your missed pill as soon as you remember</li>
                      <li data-block-key="5k2in">take your next pill at the usual time</li>
                      <li data-block-key="du3j2">you do not need to use extra contraception</li>
                    </ul>
                    <p data-block-key="81lr4">If you had unprotected sex after you missed your pill, you do not need emergency contraception.</p>
                    
                    <h2 data-block-key="bne6n">More than 3 hours (traditional) or 12 hours (desogestrel) late</h2>
                    <p data-block-key="b8rmf">If it's more than 3 hours after the time you usually take your mini pill (or more than 12 hours for desogestrel mini pills):</p>
                    <ul>
                      <li data-block-key="82ast">take a pill as soon as you remember – only take 1, even if you've missed more than 1 pill</li>
                      <li data-block-key="24hbo">take the next pill at the usual time – this may mean taking 2 pills on the same day</li>
                      <li data-block-key="b11ca">carry on taking your remaining pills each day at the usual time</li>
                      <li data-block-key="2aisl">use extra contraception such as condoms for the next 2 days (48 hours)</li>
                    </ul>
                    <p data-block-key="8fj4u">If you had unprotected sex after you missed your pill, you will need <a href="https://www.nhs.uk/conditions/contraception/emergency-contraception/">emergency contraception</a>. Ask a pharmacist or doctor for advice.</p>
                  </section>


                </div>
            </div>
        </article>

        <aside class="nhsuk-grid-column">
          <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
            <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
              More in
                <a href="../progestogen-only-pill">Progestogen-only pill (mini pill)</a>
            </h2>

            <nav role="navigation" class="beta-nhsuk-navigation-sideways">
              <ul class="beta-nhsuk-navigation-sideways__list">
                  
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-is-the-progestogen-only-pill">
                    What is the progestogen-only pill?
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="where-to-get-the-progestogen-only-pill">
                    Where to get it
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="who-can-take-the-progestogen-only-pill">
                    Who can take it
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="how-to-take-the-progestogen-only-pill">
                    How to take it
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="side-effects-of-the-progestogen-only-pill">
                    Side effects
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="taking-the-progestogen-only-pill-with-other-medicines">
                    Taking it with other medicines
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                  If you've missed a pill
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-to-do-if-you-take-an-extra-progestogen-only-pill-mini-pill">
                    If you take an extra pill
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-to-do-if-youre-sick-or-have-diarrhoea-when-taking-the-progestogen-only-pill-mini-pill">
                    If you're sick or have diarrhoea
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="taking-the-progestogen-only-pill-mini-pill-after-having-a-baby">
                    Taking it after having a baby
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="taking-the-progestogen-only-pill-mini-pill-after-a-miscarriage-or-abortion">
                    Taking it after a miscarriage or abortion
                  </a>
                </li>
                
              </ul>
            </nav>
          </div>
        </aside>

        <div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
            Page last reviewed: 2 February 2021
            <br>
            Next review due: 2 February 2024
          </p>
        </div>


    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{{
 footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Profile editor login"
      },
      {
        "URL": "#",
        "label": "Site map"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "#",
        "label": "Cookies"
      }
    ]
  })
}}
{% endblock %}

