
{% extends 'layout.html' %}

{% block pageTitle %}
  Getting an IUD (intrauterine device) fitted or removed 
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/conditions/",
      text: "Health A to Z"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    },
    {
      href: "../../methods-of-contraception",
      text: "Methods of contraception"
    }
  ],
      href: "../iud-intrauterine-device",
      text: "IUD (intrauterine device)"
})
}}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h1>
              <span role="text">
                Getting an IUD (intrauterine device) fitted or removed
                <span role="text">
                  <span class="nhsuk-caption-xl"><span class="nhsuk-u-visually-hidden"> </span>Also called the copper coil</span>
                </span>
              </span>
            </h1>
          </div>
        </div>

       

        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">


                  <section>
                    <h2>Having an IUD fitted</h2>
                    <p>You can usually have an IUD (intrauterine device), also called a copper coil, fitted at a GP surgery or sexual health clinic.</p>
                    <p>Having an IUD fitted should take about 5 to 10 minutes, but allow at least 30 minutes for the appointment .</p>
                    <p>Before your IUD is fitted you might be offered:</p>
                    <ul>
                      <li>a test for sexually transmitted infections (STIs)</li>
                      <li>a pregnancy test (an IUD cannot be fitted if you might be pregnant)</li>
                    </ul>
                      <p>Some people find having an IUD fitted painful. You may want to take some painkillers like paracetamol or ibuprofen an hour before.</p>
                      <p>If you're concerned about pain during the fitting, speak to the nurse or doctor. They may be able to offer you extra pain relief.</p>
                      <h3>The procedure</h3>
                      <p>During the procedure:</p>
                      <ul>
                        <li>a nurse or doctor will gently put a smooth, tube-shaped tool (a speculum) into your vagina so they can open it, like a <a href="https://www.nhs.uk/conditions/cervical-screening/what-happens-at-your-appointment/">cervical screening (a smear test)</a></li>
                        <li>they will insert the IUD into your womb through your cervix</li>
                      </ul>
                        <p>Tell the person fitting your IUD if you feel any pain or discomfort. You can ask them to stop at any time.</p>
                        <h3>After an IUD is fitted</h3>
                        <p>After you have an IUD fitted you might have some pain or bleeding for a few days.</p>
                        <p>You may be advised to have a doctor or nurse check your IUD 3 to 6 weeks after having it fitted.</p>

                        <h2>Checking an IUD is still in place</h2>
                        <p>An IUD has 2 thin, soft threads that hang down a little way from your womb into the top of your vagina.</p>
                        <p>The doctor or nurse who fits your IUD will teach you how to feel these threads to check it's still in place.</p>
                        <p>Check your IUD is in place a few times in the first month and then regularly, such as after each period.</p>
                        <p>If you cannot feel the threads your IUD might not be in place, and you should see a doctor or nurse straight away.</p>
                
                    <div class="nhsuk-warning-callout">
                      <h3 class="nhsuk-warning-callout__label">
                          If you cannot feel your IUD threads
                      </h3>
                        <p>If you cannot feel the threads when you check for them, you may need <a href="../emergency-contraception/">emergency contraception</a>.</p>
                        <p>Use another form of contraception until a doctor or nurse has checked your IUD.</p>
                    </div>

                
                    <h2>Having an IUD removed</h2>
                    <p>A trained doctor or nurse can remove your IUD at any time.</p>
                    <p>An IUD is effective from 5 to 10 years, depending on the type. Speak to your doctor to find out when your IUD is due to be removed or replaced.</p>
                    <p>It's possible to get pregnant as soon as your IUD has been taken out.</p>
                    <p>If you do not want to get pregnant, use another type of contraception, such as condoms, starting 7 days before you have it removed.</p>
                  </section>

                </div>
            </div>
        </article>

        <aside class="nhsuk-grid-column">
          <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
            <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
              More in <a href="../iud-intrauterine-device">IUD (intrauterine device)</a>
            </h2>

            <nav role="navigation" class="beta-nhsuk-navigation-sideways">
              <ul class="beta-nhsuk-navigation-sideways__list">
                                  
                </li>
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="what-is-an-iud-intrauterine-device">
                    What is an IUD
                  </a>
                </li>
                  
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="where-to-get-an-iud-intrauterine-device">
                    Where to get it
                  </a>
                </li>
                  
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="who-can-get-an-iud-intrauterine-device">
                    Who can get it
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                  Getting an IUD fitted or removed
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="side-effects-of-an-iud-intrauterine-device">
                    Side effects of an IUD
                  </a>
                </li>

                
              </ul>
            </nav>
          </div>
        </aside>

        <div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
            Page last reviewed: 13 September 2022
            <br>
            Next review due: 13 September 2022
          </p>
        </div>


    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{{
 footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Profile editor login"
      },
      {
        "URL": "#",
        "label": "Site map"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "#",
        "label": "Cookies"
      }
    ]
  })
}}
{% endblock %}

