{% extends 'layout.html' %}

{% block pageTitle %}
  What is an IUD (intrauterine device)
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/conditions/",
      text: "Health A to Z"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    },
    {
      href: "../../methods-of-contraception",
      text: "Methods of contraception"
    }
  ],
      href: "../iud-intrauterine-device",
      text: "IUD (intrauterine device)"
})
}}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en_GB">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h1>
              <span role="text">
                What is an IUD (intrauterine device)
                <span class="nhsuk-caption-xl"><span class="nhsuk-u-visually-hidden"> </span>Also called the copper coil</span>
              </span>
              
            </h1>
          </div>
        </div>

       

        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">


                  <section>
                    <ul>
                      <li>An IUD (intrauterine device), also called a copper coil, is a small plastic T-shape that a doctor or nurse puts into your womb (uterus). It stops pregnancy by releasing copper into your womb.</li>
                      <li>This page is about the copper coil. For information about the hormonal coil, also called Mirena coil, see <a href="https://www.nhs.uk/conditions/contraception/ius-intrauterine-system/">intrauterine system (IUS)</a>.</li>
                      <li>An IUD is over 99% effective. This means that less than 1 in 100 women with an IUD will get pregnant in one year.</li>
                      <li>An IUD can also be used as a form of <a href="https://www.nhs.uk/conditions/contraception/emergency-contraception/">emergency contraception</a>.</li>
                      <li>An IUD works as soon as it's put in and lasts for 5 or 10 years, depending on the type.</li>
                      <li>You can usually get an IUD after having a baby, and it is safe to use while breastfeeding.</li>
                      <li>You can get pregnant straight away after an IUD is removed.</li>
                    </ul>
                
                    <div class="nhsuk-inset-text">
                      <span class="nhsuk-u-visually-hidden">Information: </span>
                      <p>An IUD does not stop you getting sexually transmitted infections (STIs). Use a condom every time you have sex to protect you and your partner against STIs.</p>
                    </div>

                  </section>

                </div>
            </div>
        </article>

        <aside class="nhsuk-grid-column">
          <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
            <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
              More in <a href="../iud-intrauterine-device">IUD (intrauterine device)</a>
            </h2>

            <nav role="navigation" class="beta-nhsuk-navigation-sideways">
              <ul class="beta-nhsuk-navigation-sideways__list">
                
                <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                  What is an IUD
                </li>
                  
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="where-to-get-an-iud-intrauterine-device">
                    Where to get it
                  </a>
                </li>
                  
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="who-can-get-an-iud-intrauterine-device">
                    Who can get it
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="getting-an-iud-intrauterine-device-fitted-or-removed">
                    Getting an IUD fitted or removed
                  </a>
                </li>

                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="side-effects-of-an-iud-intrauterine-device">
                    Side effects of an IUD
                  </a>
                </li>

              </ul>
            </nav>
          </div>
        </aside>

        <div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
            Page last reviewed: 13 September 2022
            <br>
            Next review due: 13 September 2022
          </p>
        </div>


    </main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{{
 footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Profile editor login"
      },
      {
        "URL": "#",
        "label": "Site map"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "#",
        "label": "Cookies"
      }
    ]
  })
}}
{% endblock %}

