{% extends 'layout.html' %}

{% block pageTitle %}
    How well it works at preventing pregnancy
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}



{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/nhsuk-homepage",
      text: "Home"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    }
  ],
      href: "../choosing-a-method-of-contraception",
      text: "Choosing a method of contraception"
})
}}
{% endblock %}



{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper  nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>How well it works at preventing pregnancy</h1>
    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

      <section>

        <p>Some methods of contraception are more effective than others.</p>
        <p>For example, the contraceptive implant works very well at preventing pregnancy. It's over 99% effective if used correctly.</p>
        <p>This means that if 100 women use the implant for a year, less than 1 will get pregnant in that time.</p>
        <p>This page lists the methods in order of how well they work if you use them correctly, starting with the most effective first.</p>


        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">
              Important
          </h3>
            <p>Contraception is less effective if not used correctly all the time.</p>
            <p>Incorrect use includes things like missing a pill or forgetting to replace a vaginal ring.</p>
        </div>


<br>


        <div class="nhsuk-table__panel-with-heading-tab">
          <h3 class="nhsuk-table__heading-tab">How effective contraception methods are</h3>
          <div class="nhsuk-table-container">
            <table><caption class="nhsuk-u-visually-hidden">How effective contraception methods are</caption>
            
              <thead>
                <tr>
                  <th scope="col">Method</th>
                  <th scope="col">How effective it is if used correctly</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><a href="../methods-of-contraception/contraceptive-implant">Contraceptive implant</a></td>
                  <td>Over 99%</td>
                </tr>
                <tr>
                  <td><a href="../methods-of-contraception/ius-intrauterine-system">IUS (hormonal coil)</a></td>
                  <td>Over 99%</td>
                </tr>
                <tr>
                  <td><a href="../methods-of-contraception/ius-intrauterine-system">IUD (copper coil)</a></td>
                  <td>Over 99%</td>
                </tr>
                <tr>
                  <td><a href="../methods-of-contraception/contraceptive-injection">Contraceptive injection</a></td>
                  <td>Over 99%</td>
                </tr>
                <tr>
                  <td><a href="../methods-of-contraception/combined-pill">Combined pill</a></td>
                  <td>Over 99%</td>
                </tr>
                <tr>
                  <td><a href="../methods-of-contraception/progestogen-only-pill">Progestogen-only pill</a></td>
                  <td>Over 99%</td>
                </tr>
                <tr>
                  <td><a href="../methods-of-contraception/contraceptive-patch">Contraceptive patch</a></td>
                  <td>Over 99%</td>
                </tr>
                <tr>
                  <td><a href="../methods-of-contraception/vaginal-ring">Vaginal ring</a></td>
                  <td>Over 99%</td>
                </tr>
                <tr>
                  <td><a href="../methods-of-contraception/condoms/male-condoms">Condoms</a></td>
                  <td>Over 98%</td>
                </tr>
                <tr>
                  <td><a href="../methods-of-contraception/condoms/female-condoms">Internal (female) condoms</a></td>
                  <td>95%</td>
                </tr>
                <tr>
                  <td><a href="../methods-of-contraception/diaphragm-or-cap">Diaphragm</a></td>
                  <td>94%</td>
                </tr>
                <tr>
                  <td><a href="../methods-of-contraception/diaphragm-or-cap">Cap, if you have not given birth vaginally</a></td>
                  <td>91%</td>
                </tr>
                <tr>
                  <td><a href="../methods-of-contraception/diaphragm-or-cap">Cap, if you have given birth vaginally</a></td>
                  <td>80%</td>
                </tr>


              </tbody>
            </table>

          </div>
        </div>
    
      </section>

      </div>

    </div>
  </article>

  <aside class="nhsuk-grid-column">
    <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
      <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
        More in <a href="../choosing-a-method-of-contraception">Choosing a method of contraception</a>
      </h2>

      <nav role="navigation" class="beta-nhsuk-navigation-sideways">
        <ul class="beta-nhsuk-navigation-sideways__list">
          

          <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
            How well it works at preventing pregnancy
          </li>

          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="how-it-is-used">
              How it is used
            </a>
          </li>

          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="hormonal-methods-side-effects-and-risks">
              Hormonal methods: side effects and risks
            </a>
          </li>

          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="non-hormonal-methods-side-effects-and-risks">
              Non-hormonal methods: side effects and risks
            </a>
          </li>

          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="effects-on-periods">
              Effects on periods
            </a>
          </li>
        
        </ul>
      </nav>
    </div>
  </aside>

  
</main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer">

        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Home</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Health A to Z</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Live Well</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Mental health</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Care and support</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Pregnancy</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS services</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Coronavirus (COVID-19)</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS App</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Find my NHS number</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Your health records</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About the NHS</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Healthcare abroad</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Contact us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Other NHS websites</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Profile editor login</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list nhsuk-footer__meta">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Our policies</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
          </li>
        </ul>
      </div>
      <div>
        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      </div>

    </div>
  </div>
</footer>
{% endblock %}

