
{% extends 'layout.html' %}

{% block pageTitle %}
  Non-hormonal methods: side effects and risks
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}



{% block beforeContent %}
{{
 breadcrumb({
  items: [
    {
      href: "http://localhost:3000/nhsuk-homepage",
      text: "Home"
    },
    {
      href: "../../contraception",
      text: "Contraception"
    }
  ],
      href: "../choosing-a-method-of-contraception",
      text: "Choosing a method of contraception"
})
}}
{% endblock %}



{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper  nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Non-hormonal methods: side effects and risks</h1>
      <h1>Side effects and risks of non-hormonal contraception</h1>
    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

      <section>
       <p>Some methods of contraception are non-hormonal. This means they do not contain hormones.</p>
       <p>Non-hormonal methods are:</p>
       <ul>
        <li>condoms, which also help prevent sexually transmitted infections (STIs)</li>
        <li>IUD (copper coil)</li>
        <li>diaphragm</li>
        <li>cap</li>
       </ul>

       <h2>Side effects of non-hormonal contraception</h2>
       <p>Side effects depend on the method of contraception.</p>
       <p>An IUD (copper coil) can:</p>
       <ul>
        <li>cause pain in your lower tummy or back for a few days after it is fitted</li>
        <li>make your periods heavier or more painful, this usually gets better after a few months</li>
       </ul>

       <p>If you use a diaphragm or cap:</p>
       <ul>
        <li>the spermicide you need to use can irritate your vagina</li>
        <li>you may be more likely to get a urinary tract infection (UTI) such as <a href="https://www.nhs.uk/conditions/cystitis">cystitis</a></li>
       </ul> 

       <h2>Risks of non-hormonal contraception</h2>
       <p>There's a small risk that you may get an infection after having an IUD fitted.</p>
       <p>There's a small risk the IUD can fail, and you can get pregnant. If this happens, there's an increased risk of having an <a href="https://www.nhs.uk/conditions/ectopic-pregnancy">ectopic pregnancy</a>.</p>
      </section>

      </div>

    </div>
  </article>

  <aside class="nhsuk-grid-column">
    <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
      <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
        More in <a href="../choosing-a-method-of-contraception">Choosing a method of contraception</a>
      </h2>

      <nav role="navigation" class="beta-nhsuk-navigation-sideways">
        <ul class="beta-nhsuk-navigation-sideways__list">
          
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="how-well-it-works-at-preventing-pregnancy">
              How well it works at preventing pregnancy
            </a>
          </li>

          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="how-it-is-used">
              How it is used
            </a>
          </li>

          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="hormonal-methods-side-effects-and-risks">
              Hormonal methods: side effects and risks
            </a>
          </li>

          <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
            Non-hormonal methods: side effects and risks
          </li>

          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="effects-on-periods">
              Effects on periods
            </a>
          </li>
        
        </ul>
      </nav>
    </div>
  </aside>

 
  

  <div>
    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
      Page last reviewed: 12 August 2022<br>
      Next review due: 12 August 2025
    </p>
  </div>
  
</main>
</div>

  </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer">

        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Home</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Health A to Z</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Live Well</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Mental health</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Care and support</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Pregnancy</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS services</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Coronavirus (COVID-19)</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">NHS App</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Find my NHS number</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Your health records</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About the NHS</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Healthcare abroad</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Contact us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Other NHS websites</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Profile editor login</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list nhsuk-footer__meta">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">About us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Our policies</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
          </li>
        </ul>
      </div>
      <div>
        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      </div>

    </div>
  </div>
</footer>
{% endblock %}

